<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- =================Start header section===================== -->

<section class="blog_header">
  <div class="container">
    <div class="card card--listing-header card--listing-header-smaller" style="padding: 10px 20px;">
      <div class="row d-flex align-items-center">
        <div class="col-lg-11">
          <h1 class="listing-title"> Blogs
            <span class="subtitle subtitle--listing"> (
            <span class="pager-total-items" id="pager-total-items"><%= @blogs.all.count %></span> blogs total )
          </span>
          </h1>
        </div>
        <div class="col-lg-1">
          <div class="card__title"></div>
          <div class="card__content">
            <div class="create-new-border" id="create-new-border">
              <div class="d-flex justify-content-end align-items-center">
                <div class="first-list-toogle pe-2">
                  <i class="fa fa-th-list" style="font-size:20px;"></i>
                </div>
                <div class="second-list-toogle">
                  <i class="fa fa-th-list" style="font-size:20px;color:gray"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =================End header section===================== -->

<!-- =================card section start here===================== -->
<div class="container" id="blog_card">
  <div class="row row-cols-5 top-header-space card-devider">
    <% if @blogs.present? %>
      <% @blogs.each do |blog| %>
    <div class="col my-3 sub-card">
      <div class="card box-shdow h-100">
        <div class="tile__image-container">
          <span class="blog_label">blog</span>
          <a href="<%= blog_path(blog) %>"><img class="tile__image card-img" id="title-img" src="<%= blog.attachments %>"></a>
        </div>
        <div class="card-body tile__title" id="title_blog">
          <p class="card-text truncate p-0"><a href="<%= blog_path(blog) %>"> <%= blog.title %></a></p>
        </div>
        <div class="tile__description">
          <p><%= blog.description %></p>
        </div>
      </div>
    </div>
    <% end %>
      <% end %>
  </div>
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>