
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<div class="container">
  <div class="row row-cols-5 top-header-space card-devider">
    <% @products.each do |product| %>
      <div class="col my-3 sub-card">
        <div class="card h-100">
          <div class="card-body d-flex justify-content-between">
            <span class="tile__updated "> <span class="tile__updated-time"> <%= product.updated_at %> </span> </span>
            <% unless product.sponsored != true %>
              <span class="tile__sponsored"><a href="#">Sponsored</a></span>
            <% end %>
            <a href="#" class="card-link "><span></span></a>
            <span class="card-link price-tag price-tag--one-line"><span>$<%= product.price %></span></span>
          </div>
          <div class="tile__image-container">
            <a href="<%= product_path(product) %>"><image src = "https://cdn11.bigcommerce.com/s-gd7oa07ykg/images/stencil/1280x1280/products/3744/4787/b043f9ff-e76c-4d7e-9543-0c98bbb169ba__73888.1660167281.jpg?c=1" /></a>
          </div>
          <div class="card-body tile__title">
            <p class="card-text truncate "><a href="<%= product_path(product) %>"><%= product.title %></a></p>
          </div>
          <div class="card-body d-flex justify-content-between tile__actions-container">
            <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i
              class="fa fa-thumbs-up"></i> <span>2</span></a>
            <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i
              class="fa fa-thumbs-down"></i> <span>13</span></a>
            <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i
              class="fa fa-comments"></i> <span>0</span></a>
          </div>
          <div class="card-body card-footer card-bg-color">
            <div class="">
              <h6>UPC: <span><%= product.upc %></span></h6>
              <h6>MPN: <span><a href="#"><%= product.mpn %></a></span></h6>
            </div>
            <div class="d-flex justify-content-between tile__actions-container px-0">
              <a href="#" class="card-link icon-fa-link"><i class="fa fa-shopping-cart"></i><span><%= product.store.title %></span></a>
              <a href="#" class="card-link icon-fa-link"><i class="fa fa-balance-scale"></i><span></span></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>

