
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_views_path %>" class="nav-link ">View</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= edit_user_registration_path %>" class=" nav-link ">Edit</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_blocked_deal_settings_path %>" class="nav-link " >Blocked Deal
          Settings</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_deals_path %>" class=" nav-link" >User's deals
          (3)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_comments_path %>" class="nav-link " >User's comments
          (<%= current_user.comments.all.count %>)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_votes_path %>" class="nav-link ">User's votes</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_my_reviews_path %>" class="nav-link active">My Reviews</a>
      </li>
    </ul>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="myreview-tab-pane" role="tabpanel" aria-labelledby="myreview-tab"
             tabindex="0">
          <div class="">
            <div class="card__title">
              <h1>My Reviews</h1>
            </div>
            <div class="card__content">
              <div class="customerreview-card customerreview-card--pending">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <% @reviews.each do |review|%>
                    <div class="customerreview-card--bold-text">By <a href="/users/birminghampistol"><%= @user.username %></a> <%= time_ago_in_words(review.created_at) %> ago </div>
                    <% end %>
                    <div>
                      <span class="customerreview-card--bold-text">Purchased on:</span> November 2022
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="starrr">
                      <li class="fa-star fa"></li>
                      <li class="fa-star fa"></li>
                      <li class="fa-star-o fa"></li>
                      <li class="fa-star-o fa"></li>
                      <li class="fa-star-o fa"></li>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <% @user.reviews.each do |user| %>
                  <div class="col-xs-12"><%= user.body %> </div>
                  <% end %>
                </div>
                <div class="row customerreview-card__administration-controls">
                  <div class="col-xs-12 col-md-8 customerreview-card__administration-controls__status-message">
                    <div>
                      <i data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Your review has to follow Official comments policy in order to be approved by website moderators."></i> &nbsp;Your review must be approved by moderators before it becomes visible to others.
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4 customerreview-card__administration-controls__actions">
                    <a href="#">
                      <i class="fa fa-trash"></i> Delete </a>
                    <a href="#=">
                      <i class="fa fa-pencil"></i> Edit </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
