<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>

<body class="body-style">
<%= render partial: 'partials/header' %>
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <ul class="nav nav-tabs bg-transparent" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="view-tab" data-bs-toggle="tab" data-bs-target="#view-tab-pane"
                type="button" role="tab" aria-controls="view-tab-pane" aria-selected="true"><a   href="<%= my_accounts_views_path %>">View</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button"
                role="tab" aria-controls="edit-tab-pane" aria-selected="false"><a href="<%= edit_user_registration_path %>">Edit</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message-tab-pane"
                type="button" role="tab" aria-controls="message-tab-pane" aria-selected="false"><a href="<%=  my_accounts_my_messages_path %>">My Messages</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="setting-tab" data-bs-toggle="tab" data-bs-target="#setting-tab-pane"
                type="button" role="tab" aria-controls="setting-tab-pane" aria-selected="true"><a href="<%= my_accounts_blocked_deal_settings_path %>">Blocked Deal
          Settings</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="userdeal-tab" data-bs-toggle="tab" data-bs-target="#userdeal-tab-pane"
                type="button" role="tab" aria-controls="userdeal-tab-pane" aria-selected="false"><a href="<%= my_accounts_user_deals_path %>">User's deals
          (2)</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="usercomment-tab" data-bs-toggle="tab" data-bs-target="#usercomment-tab-pane"
                type="button" role="tab" aria-controls="usercomment-tab-pane" aria-selected="false"><a href="<%= my_accounts_user_comments_path %>">User's comments
          (1)</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="uservote-tab" data-bs-toggle="tab" data-bs-target="#uservote-tab-pane"
                type="button" role="tab" aria-controls="uservote-tab-pane" aria-selected="true"><a href="<%= my_accounts_user_votes_path %>">User's votes</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="myreview-tab" data-bs-toggle="tab" data-bs-target="#myreview-tab-pane"
                type="button" role="tab" aria-controls="myreview-tab-pane" aria-selected="false"><a href="<%= my_accounts_my_reviews_path %>">My Reviews</a></button>
      </li>
    </ul>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="myreview-tab-pane" role="tabpanel" aria-labelledby="myreview-tab"
             tabindex="0">
          <div class="">
            <div class="card__title">
              <h1>My Reviews</h1>
            </div>
            <div class="card__content">
              <div class="customerreview-card customerreview-card--pending">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="customerreview-card--bold-text">By <a href="/users/birminghampistol"><%= @user.username %></a> <%= time_ago_in_words(@user.created_at) %> ago </div>
                    <div>
                      <span class="customerreview-card--bold-text">Purchased on:</span> November 2022
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="starrr">
                      <li class="fa-star fa"></li>
                      <li class="fa-star fa"></li>
                      <li class="fa-star-o fa"></li>
                      <li class="fa-star-o fa"></li>
                      <li class="fa-star-o fa"></li>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <% @user.reviews.each do |user| %>
                  <div class="col-xs-12"><%= user.body %> </div>
                  <% end %>
                </div>
                <div class="row customerreview-card__administration-controls">
                  <div class="col-xs-12 col-md-8 customerreview-card__administration-controls__status-message">
                    <div>
                      <i data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Your review has to follow Official comments policy in order to be approved by website moderators."></i> &nbsp;Your review must be approved by moderators before it becomes visible to others.
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4 customerreview-card__administration-controls__actions">
                    <a href="#">
                      <i class="fa fa-trash"></i> Delete </a>
                    <a href="#=">
                      <i class="fa fa-pencil"></i> Edit </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>

</html>