<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>

<body class="body-style">
<%= render partial: 'partials/header' %>
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <%= render partial: 'partials/my_account_header_navbar' %>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="usercomment-tab-pane" role="tabpanel" aria-labelledby="usercomment-tab"
             tabindex="0">

          <div class="card p-3 border-0">
            <div class="card__title">
              <h1>Comments</h1>
            </div>
            <div class="card__content">
              <div class="table-responsive">
                <table class="sticky-header" style="position: fixed; top: 0px; width: 1140px; left: 68.5px; visibility: hidden;">
                  <thead>
                  <tr>
                    <th class="comments-page-table-comment" style="width: 523.719px;">
                      <a href="#" title="sort by Comment" class="active">Comment</a>
                    </th>
                    <th style="width: 177.891px;">
                      <a href="#" title="sort by Author" class="active">Author</a>
                    </th>
                    <th style="width: 200px;">
                      <a href="#" title="sort by Posted in" class="active">Posted in</a>
                    </th>
                    <th style="width: 138.391px;">
                      <a href="#" title="sort by Store" class="active">Store</a>
                    </th>
                    <th class="comments-page-table-date active" style="width: 100px;">
                      <a href="#" title="sort by Time" class="active">Time <img src="/misc/arrow-asc.png" alt="sort icon" title="sort ascending" width="13" height="13">
                      </a>
                    </th>
                  </tr>
                  </thead>
                </table>
                <table class="comments-page-table comments-table table table-striped sticky-enabled sticky-table">
                  <thead class="tableHeader-processed">
                  <tr>
                    <th class="comments-page-table-comment">
                      <a href="#" title="sort by Comment" class="active">Comment</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Author" class="active">Author</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Posted in" class="active">Posted in</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Store" class="active">Store</a>
                    </th>
                    <th class="comments-page-table-date active">
                      <a href="#" title="sort by Time" class="active">Time <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @comments.each do |comment| %>
                  <tr class=" odd">
                    <td class="comments-page-table-comment ">
                      <a href="#" target="_blank">
                        <p><%= comment.body %></p>
                      </a>
                    </td>
                    <td>
                      <a href="#" title="View user profile."><%= comment.user.username%></a>
                    </td>
                    <td class="comments-page-table-product" style="width: 200px">
                      <a href="#" target="_blank"><%= comment.product.title%></a>
                    </td>
                    <td class="comments-page-table-store">
                      <a href="#" target="_blank"><%= comment.product.store.title %></a>
                    </td>
                    <td class="comments-page-table-date active" style="width: 100px"><%= comment.created_at%></td>
                  </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>

</html>