<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>

<body class="body-style">
<%= render partial: 'partials/header' %>
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <ul class="nav nav-tabs bg-transparent" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="view-tab" data-bs-toggle="tab" data-bs-target="#view-tab-pane"
                type="button" role="tab" aria-controls="view-tab-pane" aria-selected="true"><a   href="<%= my_accounts_views_path %>">View</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button"
                role="tab" aria-controls="edit-tab-pane" aria-selected="false"><a href="<%= edit_user_registration_path %>">Edit</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message-tab-pane"
                type="button" role="tab" aria-controls="message-tab-pane" aria-selected="false"><a href="<%=  my_accounts_my_messages_path %>">My Messages</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="setting-tab" data-bs-toggle="tab" data-bs-target="#setting-tab-pane"
                type="button" role="tab" aria-controls="setting-tab-pane" aria-selected="true"><a href="<%= my_accounts_blocked_deal_settings_path %>">Blocked Deal
          Settings</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="userdeal-tab" data-bs-toggle="tab" data-bs-target="#userdeal-tab-pane"
                type="button" role="tab" aria-controls="userdeal-tab-pane" aria-selected="false"><a href="<%= my_accounts_user_deals_path %>">User's deals
          (3)</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="usercomment-tab" data-bs-toggle="tab" data-bs-target="#usercomment-tab-pane"
                type="button" role="tab" aria-controls="usercomment-tab-pane" aria-selected="false"><a href="<%= my_accounts_user_comments_path %>">User's comments
          (<%= current_user.comments.all.count %>)</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="uservote-tab" data-bs-toggle="tab" data-bs-target="#uservote-tab-pane"
                type="button" role="tab" aria-controls="uservote-tab-pane" aria-selected="true"><a href="<%= my_accounts_user_votes_path %>">User's votes</a></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="myreview-tab" data-bs-toggle="tab" data-bs-target="#myreview-tab-pane"
                type="button" role="tab" aria-controls="myreview-tab-pane" aria-selected="false"><a href="<%= my_accounts_my_reviews_path %>">My Reviews</a></button>
      </li>
    </ul>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="usercomment-tab-pane" role="tabpanel" aria-labelledby="usercomment-tab"
             tabindex="0">

          <div class="card p-3 border-0">
            <div class="card__title">
              <h1>Comments</h1>
            </div>
            <div class="card__content">
              <div class="table-responsive">
                <table class="sticky-header" style="position: fixed; top: 0px; width: 1140px; left: 68.5px; visibility: hidden;">
                  <thead>
                  <tr>
                    <th class="comments-page-table-comment" style="width: 523.719px;">
                      <a href="#" title="sort by Comment" class="active">Comment</a>
                    </th>
                    <th style="width: 177.891px;">
                      <a href="#" title="sort by Author" class="active">Author</a>
                    </th>
                    <th style="width: 200px;">
                      <a href="#" title="sort by Posted in" class="active">Posted in</a>
                    </th>
                    <th style="width: 138.391px;">
                      <a href="#" title="sort by Store" class="active">Store</a>
                    </th>
                    <th class="comments-page-table-date active" style="width: 100px;">
                      <a href="#" title="sort by Time" class="active">Time <img src="/misc/arrow-asc.png" alt="sort icon" title="sort ascending" width="13" height="13">
                      </a>
                    </th>
                  </tr>
                  </thead>
                </table>
                <table class="comments-page-table comments-table table table-striped sticky-enabled sticky-table">
                  <thead class="tableHeader-processed">
                  <tr>
                    <th class="comments-page-table-comment">
                      <a href="#" title="sort by Comment" class="active">Comment</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Author" class="active">Author</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Posted in" class="active">Posted in</a>
                    </th>
                    <th>
                      <a href="#" title="sort by Store" class="active">Store</a>
                    </th>
                    <th class="comments-page-table-date active">
                      <a href="#" title="sort by Time" class="active">Time <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @comments.each do |comment| %>
                  <tr class=" odd">
                    <td class="comments-page-table-comment ">
                      <a href="#" target="_blank">
                        <p><%= comment.body %></p>
                      </a>
                    </td>
                    <td>
                      <a href="#" title="View user profile."><%= comment.user.username%></a>
                    </td>
                    <td class="comments-page-table-product" style="width: 200px">
                      <a href="#" target="_blank"><%= comment.product.title%></a>
                    </td>
                    <td class="comments-page-table-store">
                      <a href="#" target="_blank">Wikiarms.com</a>
                    </td>
                    <td class="comments-page-table-date active" style="width: 100px"><%= comment.created_at%></td>
                  </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>

</html>