
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_views_path %>" class="nav-link">View</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= edit_user_registration_path %>" class=" nav-link ">Edit</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_blocked_deal_settings_path %>" class="nav-link" >Blocked Deal
          Settings</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_deals_path %>" class="nav-link active" >User's deals
          (3)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_comments_path %>" class="nav-link " >User's comments
          (<%= current_user.comments.all.count %>)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_votes_path %>" class="nav-link ">User's votes</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_my_reviews_path %>" class="nav-link ">My Reviews</a>
      </li>
    </ul>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="userdeal-tab-pane" role="tabpanel" aria-labelledby="userdeal-tab"
             tabindex="0">
          <div class="container">
            <div class="row row-cols-5 card-devider">
              <div class="col my-3 sub-card">
                <div class="card h-100">
                  <div class="card-body d-flex justify-content-between">
                    <span class="tile__sponsored"><a href="#">Sponsored</a></span>
                    <a href="#" class="card-link "><span></span></a>
                    <span class="card-link price-tag price-tag--one-line"><span>$746.99</span></span>
                  </div>
                  <div class="tile__image-container">
                    <%= image_tag 'card-img.webp' %>
                  </div>

                  <div class="card-body tile__title">
                    <p class="card-text "><a href="#">Kimber MICRO 9 9mm 3.2" Barrel 7rd Stainless - $746.99 (Free
                      S/H on Firearms)</a></p>
                  </div>
                  <div class="card-body d-flex justify-content-between tile__actions-container">
                    <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i
                      class="fa fa-thumbs-up"></i> <span>2</span></a>
                    <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i
                      class="fa fa-thumbs-down"></i> <span>13</span></a>
                    <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i
                      class="fa fa-comments"></i> <span>0</span></a>
                  </div>
                  <div class="card-body d-flex justify-content-between card-footer tile__actions-container">
                    <a href="#" class="card-link icon-fa-link"><i
                      class="fa fa-shopping-cart"></i><span>KyGunCo</span></a>
                    <a href="#" class="card-link icon-fa-link"><i
                      class="fa fa-balance-scale"></i><span></span></a>
                  </div>
                </div>
              </div>
              <div class="col my-3 sub-card">
                <div class="card h-100">
                  <div class="card-body d-flex justify-content-between">
                    <span class="tile__sponsored"><a href="#">Sponsored</a></span>
                    <a href="#" class="card-link "><span></span></a>
                    <span class="card-link price-tag price-tag--one-line"><span>$746.99</span></span>
                  </div>
                  <div class="tile__image-container">
                    <%= image_tag 'card-img2.jpg' %>
                  </div>
                  <div class="card-body tile__title">
                    <p class="card-text "><a href="#">Kimber MICRO 9 9mm 3.2" Barrel 7rd Stainless - $746.99 (Free
                      S/H on Firearms)</a></p>
                  </div>
                  <div class="card-body d-flex justify-content-between tile__actions-container">
                    <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i
                      class="fa fa-thumbs-up"></i> <span>2</span></a>
                    <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i
                      class="fa fa-thumbs-down"></i> <span>13</span></a>
                    <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i
                      class="fa fa-comments"></i> <span>0</span></a>
                  </div>
                  <div class="card-body d-flex justify-content-between card-footer tile__actions-container">
                    <a href="#" class="card-link icon-fa-link"><i class="fa fa-shopping-cart"></i><span>
                              KyGunCo</span></a>
                    <a href="#" class="card-link icon-fa-link"><i
                      class="fa fa-balance-scale"></i><span></span></a>
                  </div>
                </div>
              </div>
              <div class="col my-3 sub-card">
                <div class="card h-100">
                  <div class="card-body d-flex justify-content-between">
                    <span class="tile__sponsored"><a href="#">Sponsored</a></span>
                    <a href="#" class="card-link "><span></span></a>
                    <span class="card-link price-tag price-tag--one-line"><span>$746.99</span></span>
                  </div>
                  <div class="tile__image-container">
                    <%= image_tag 'card-img3.webp' %>
                  </div>
                  <div class="card-body tile__title">
                    <p class="card-text "><a href="#">Kimber MICRO 9 9mm 3.2" Barrel 7rd Stainless - $746.99 (Free
                      S/H on Firearms)</a></p>
                  </div>
                  <div class="card-body d-flex justify-content-between tile__actions-container">
                    <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i
                      class="fa fa-thumbs-up"></i> <span>2</span></a>
                    <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i
                      class="fa fa-thumbs-down"></i> <span>13</span></a>
                    <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i
                      class="fa fa-comments"></i> <span>0</span></a>
                  </div>
                  <div class="card-body d-flex justify-content-between card-footer tile__actions-container">
                    <a href="#" class="card-link icon-fa-link"><i class="fa fa-shopping-cart"></i><span>
                              KyGunCo</span></a>
                    <a href="#" class="card-link icon-fa-link"><i
                      class="fa fa-balance-scale"></i><span></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>

