
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>
<!-- signup section start -->
<section class="mb-4">
  <div class="container mt-5 form-deelgun">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_views_path %>" class="nav-link active">View</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= edit_user_registration_path %>" class=" nav-link">Edit</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_blocked_deal_settings_path %>" class="nav-link" >Blocked Deal
          Settings</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_deals_path %>" class=" nav-link" >User's deals
          (3)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_comments_path %>" class="nav-link" >User's comments
          (<%= current_user.comments.all.count %>)</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_user_votes_path %>" class="nav-link">User's votes</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="<%= my_accounts_my_reviews_path %>" class="nav-link">My Reviews</a>
      </li>
    </ul>
    <div class="form-pages bg-white p-4">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="view-tab-pane" role="tabpanel" aria-labelledby="view-tab"
             tabindex="0">
          <div class="">
            <div class="card__title">
              <h1><%= @user.username %></h1>
            </div>
            <div class="card__content">
              <div class="profile">
                <div class="picture"></div>
                <h3>History</h3>
                <dl class="user-member">
                  <dt>Member for</dt>
                  <dd><%= time_ago_in_words(@user.created_at) %> </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
