<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-871" id="card-block-871" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Recent coupons (<%= @coupons.all.count %>)</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-slickguns-0" class="block block-slickguns">
        <div class="content">
          <div class="coupons">
          <% @coupons.each do |coupon| %>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Aero Precision" data-ga-label="Coupon link - Coupons block"><%= coupon.discount %> (one time use)</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span><%= coupon.coupon_code %></span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="AeroCS_22" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">Unknown</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">
                        <% if coupon.store.title.present? %>
                          <%= coupon.store.title %>
                        <% else %>
                            "Store not Preset"
                          <% end %>
                        </a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1140271&amp;title=10%25%20Off%20%28one%20time%20use%29">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <% end %>
            <a class="btn btn-primary btn-block text-white" href="<%= new_coupon_path %>" target="_blank">
              <i class="fa fa-scissors"></i> Add a Coupon
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-906" id="card-block-906" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Active rebates (<%= @rebates.all.count %>)</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-slickguns-7" class="block block-slickguns">
        <div class="content">
          <div class="coupons">
            <% @rebates.each do |rebate| %>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank"><%= rebate.body %></a>
              </div>
              <div class="coupon__pills">
            <span class="pill">
              <span class="pill__title">Brand</span>
              <span class="pill__value">
                <% if rebate.product.present? %>
                <a href="#"><%= rebate.product.brand %></a>
                  <% end %>
              </span>
            </span>
                <span class="pill">
           <span class="pill__title">Expiration date</span>
           <span class="pill__value">2023-Dec-31</span>
                </span>
              </div>
            </div>
         <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-801" id="card-block-801" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Recent comments</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-comment-0" class="block block-comment">
        <div class="content">
          <ul class="list-group">
            <% if @comments.present? %>
            <% @comments.each do |comment| %>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan.jpg" %>
                    <!--                          <img src="images/coupan.jpg" alt="AGUILA NON-CORR Primers Small Pistol NO. 1-1/2 1,000/BOX - $84.99">-->
                  </div>
                  <div class="recent-comment__info">
                    <% if comment.product.present? %>
                    <a href="#"><%= comment.product.title %></a>
                      <% end %>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p><%= comment.body %></p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">32 min 21 sec ago</span>
                  <span>By</span>
                  <% if comment.user.present? %>
                  <a href="#"><%= comment.user.username %></a>
                    <% end %>
                </div>
              </div>
            </li>
            <% end %>
              <% end %>
          </ul>
          <div id="more-comments-link">
            <a href="#">More comments</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>