<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-871" id="card-block-871" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Recent coupons (10)</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-slickguns-0" class="block block-slickguns">
        <div class="content">
          <div class="coupons">
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Aero Precision" data-ga-label="Coupon link - Coupons block">10% Off (one time use)</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>AeroCS_22</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="AeroCS_22" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">Unknown</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Aero Precision</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1140271&amp;title=10%25%20Off%20%28one%20time%20use%29">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Sportsman's Guide" data-ga-label="Coupon link - Coupons block">$15 Off $100+</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>SG4445</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="SG4445" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-07</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Sportsman's Guide</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1140026&amp;title=%2415%20Off%20%24100%2B">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Optics Planet" data-ga-label="Coupon link - Coupons block">11% Off OPMOD products</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>OPMOD11</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="OPMOD11" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-09</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Optics Planet</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139836&amp;title=11%25%20Off%20OPMOD%20products">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Bereli" data-ga-label="Coupon link - Coupons block">10% off Daniel Defense</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>10OFFDD</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="10OFFDD" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">Unknown</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Bereli</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139651&amp;title=10%25%20off%20Daniel%20Defense">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Brownells" data-ga-label="Coupon link - Coupons block">$150 Off Orders $1000</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>OCTOBER150</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="OCTOBER150" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-31</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Brownells</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139586&amp;title=%24150%20Off%20Orders%20%241000">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Brownells" data-ga-label="Coupon link - Coupons block">$75 Off Orders $750</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>OCTOBER75</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="OCTOBER75" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-31</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Brownells</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139581&amp;title=%2475%20Off%20Orders%20%24750">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Brownells" data-ga-label="Coupon link - Coupons block">$55 Off Orders $450</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>OCTOBER55</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="OCTOBER55" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-31</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Brownells</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139576&amp;title=%2455%20Off%20Orders%20%24450">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Brownells" data-ga-label="Coupon link - Coupons block">$15 Off Orders $125</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>OCTOBER15</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="OCTOBER15" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">2022-Oct-31</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Brownells</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1139571&amp;title=%2415%20Off%20Orders%20%24125">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Skogen’s Gun Supply" data-ga-label="Coupon link - Coupons block">10% off all in Stock Zeiss Optics</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>Zeiss</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="Zeiss" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">Unknown</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Skogen’s Gun Supply</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1138981&amp;title=10%25%20off%20all%20in%20Stock%20Zeiss%20Optics">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank" class="js-ga-event" data-ga-action="External Click" data-ga-category="Skogen’s Gun Supply" data-ga-label="Coupon link - Coupons block">10% off all in-Stock Vortex Optics</a>
              </div>
              <div class="coupon__code coupon__code--coupon">
                <span>Vortex</span>
                <div class="js-copy-text coupon__copy">
                  <div class="coupon__input-wrapper">
                    <input class="coupon__input" type="text" value="Vortex" readonly="">
                  </div>
                  <a href="#">  <i class="fa fa-scissors ps-2 text-dark"></i></a>
                </div>
              </div>
              <div class="coupon__pills">
                <span class="pill"><span class="pill__title">Expiration date</span><span class="pill__value">Unknown</span></span>
                <span class="pill">
                        <span class="pill__title">Store</span>
                        <span class="pill__value"><a href="#">Skogen’s Gun Supply</a></span>
                      </span>
                <span class="pill js-report-problem pill--value_only" data-toggle="modal" data-target="#modalReportProblem" data-reset-content-on-close="1" data-content-path="/report-a-problem?nid=1138976&amp;title=10%25%20off%20all%20in-Stock%20Vortex%20Optics">
                        <span class="pill__value">Report</span>
                      </span>
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="#" target="_blank">
              <i class="fa fa-scissors"></i> Add a Coupon
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-906" id="card-block-906" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Active rebates (10)</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-slickguns-7" class="block block-slickguns">
        <div class="content">
          <div class="coupons">
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Burris Fullfield IV Riflescope $25 Online Rebate</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Burris</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Browning .223 FMJ Ammo Rebate 2022</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Browning</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-04</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Buy a Trijicon RMR cc GET $100 BACK</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Trijicon</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Winchester Centerfire Rifle Ammunition Rebate - Up to $75 Rebate on FMJ Rifle Ammo</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Winchester</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-04</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">SCCY Summer Rebate - Receive a $25 rebate when you purchase a qualifying SCCY firearm</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">SCCY Industries</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Blackhawk Upgrade Your Gear Rebate</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Blackhawk</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Beretta APX-A1 Carry Rebate</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Beretta</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Oct-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Burris Signature HD Rifle Scope 2022 Rebate</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Burris</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Oct-31</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">ALL-AMERICAN AK REBATE</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Century International Arms Inc.</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Oct-15</span>
                                                                                                    </span>
              </div>
            </div>
            <div class="coupon">
              <div class="coupon__title">
                <a href="#" target="_blank">Buy any MC2 - Get FREE Black Arch Rev-Con Holster</a>
              </div>
              <div class="coupon__pills">
                                                                                                    <span class="pill">
                                                                                                        <span class="pill__title">Brand</span>
                                                                                                        <span class="pill__value">
                                                                                                            <a href="#">Mossberg</a>
                                                                                                        </span>
                                                                                                    </span>
                <span class="pill">
                                                                                                        <span class="pill__title">Expiration date</span>
                                                                                                        <span class="pill__value">2022-Dec-31</span>
                                                                                                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<aside class="col-xs-12 col-sm-6 col-md-4 card--block-bottom">
  <div class="card p-4 js-collapsible-card card--block-801" id="card-block-801" data-collapsible-card="xs sm">
    <div class="card__title">
      <h2 class="js-card-title">
        <a href="#">Recent comments</a>
      </h2>
    </div>
    <div class="card__content">
      <div id="block-comment-0" class="block block-comment">
        <div class="content">
          <ul class="list-group">
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan.jpg" %>
                    <!--                          <img src="images/coupan.jpg" alt="AGUILA NON-CORR Primers Small Pistol NO. 1-1/2 1,000/BOX - $84.99">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">AGUILA NON-CORR Primers Small Pistol NO. 1-1/2 1,000/BOX - $84.99</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Come on Brownells, this is hazmat and you limit 2? I know you’ll sell them but let us buy 5000 or 10000 and you’d sell out today. Pass.</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">32 min 21 sec ago</span>
                  <span>By</span>
                  <a href="#">rswartze</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan2.webp" %>
                    <!--                          <img src="images/coupan2.webp" alt="Swampfox 1x27 Justice RMR Red Dot, 3 MOA - $170.99 after code: GUNDEALS">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">Swampfox 1x27 Justice RMR Red Dot, 3 MOA - $170.99 after code: GUNDEALS</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Code doesn't provide enough discount to match price listed.... Code is only for 5% off.... Please fix! Thanks!</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">3 hours 6 min ago</span>
                  <span>By</span>
                  <a href="#">olzoot</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan3.webp" %>
                    <!--                          <img src="images/coupan3.webp" alt="Panzer Arms BP12 Gen2 Semi-Auto 12 GA Bullpup Shotgun, Black - BP12BSSB - $299.99">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">Panzer Arms BP12 Gen2 Semi-Auto 12 GA Bullpup Shotgun, Black - BP12BSSB - $299.99</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>I did it. $299 holy smokes. Rambo's got nothing on me!!!</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">5 hours 56 min ago</span>
                  <span>By</span>
                  <a href="#">BigDaddyBadger</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan4.webp" %>
                    <!--                          <img src="images/coupan4.webp" alt="B&amp;T APC223 Sport 223 Rem/556 NATO 16.5" barrel="" rifle="" -="" $2399.99"="">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">B&amp;T APC223 Sport 223 Rem/556 NATO 16.5" Barrel Rifle - $2399.99</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Got mine today. Description says ACR style stock and it came with the goofy stock in the first picture. Still worth it</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">8 hours 31 min ago</span>
                  <span>By</span>
                  <a href="#">lph807</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan5.webp" %>
                    <!--                          <img src="images/coupan5.webp" alt="Steiner T432 AR Rapid Red Dot Sight w/ 5.56 Reticle 4x36mm - $399.99">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">Steiner T432 AR Rapid Red Dot Sight w/ 5.56 Reticle 4x36mm - $399.99</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Thanks for the insight!</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">8 hours 44 min ago</span>
                  <span>By</span>
                  <a href="#">BPuff57</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan6.webp" %>
                    <!--                          <img src="images/coupan6.webp" alt="ET Arms Plumcrazy Lower W/M4STK - $76.32">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">ET Arms Plumcrazy Lower W/M4STK - $76.32</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>(706) 429-4109</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">9 hours 51 min ago</span>
                  <span>By</span>
                  <a href="#">PanheadDude</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan06.webp" %>
                    <!--                          <img src="images/coupan06.webp" alt="ET Arms Plumcrazy Lower W/M4STK - $76.32">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">ET Arms Plumcrazy Lower W/M4STK - $76.32</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Scam!!
                    <br>no phone nubmer.
                    <br>The 22Lr pistol pics are all wrong and prices are from 10 years ago.
                    <br>be careful
                  </p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">11 hours 40 min ago</span>
                  <span>By</span>
                  <a href="#">SPARKY0114</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan7.webp" %>
                    <!--                          <img src="images/coupan7.webp" alt="Beretta Cx4 92 Series 9mm 16.6" bbl="" rifle="" w="" (1)="" 20rd="" mag="" -="" $569.99"="">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">Beretta Cx4 92 Series 9mm 16.6" Bbl Rifle w/(1) 20rd Mag - $569.99</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Bought this for my son. Got to the range in was very impressed with the accuracy of this Italian made carbine. Very cool, very comfortable, I am definitely happy with this purchase and so is my son. Get one</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">15 hours 32 sec ago</span>
                  <span>By</span>
                  <a href="#">TrumpWon</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">
                    <%= image_tag "coupan8.webp" %>
                    <!--                          <img src="images/coupan8.webp" alt="X-Vision HIIT 1x Red Dot Sight HRD1 - $93.09 after code: GUNDEALS">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">X-Vision HIIT 1x Red Dot Sight HRD1 - $93.09 after code: GUNDEALS</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Calm down there scrappy doo. No one is making you buy one.</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">15 hours 19 min ago</span>
                  <span>By</span>
                  <a href="#">Cole982</a>
                </div>
              </div>
            </li>
            <li class="list-group-item recent-comment-wrapper">
              <div class="recent-comment">
                <div class="recent-comment__header">
                  <div class="recent-comment__image">



                    <%= image_tag  'coupan9.webp' %>
                    <!--                          <img src="images/coupan9.webp" alt="50% off MidTen Bore Sight Kit, Red or Green Laser Boresighter w/code 9LWJQ5SJ - $16.79">-->
                  </div>
                  <div class="recent-comment__info">
                    <a href="#">50% off MidTen Bore Sight Kit, Red or Green Laser Boresighter w/code 9LWJQ5SJ - $16.79</a>
                  </div>
                </div>
                <div class="recent-comment__content">
                  <p>Code doesn't work</p>
                </div>
                <div class="recent-comment__footer">
                  <span class="recent-comment__time-ago">15 hours 58 min ago</span>
                  <span>By</span>
                  <a href="#">tim5</a>
                </div>
              </div>
            </li>
          </ul>
          <div id="more-comments-link">
            <a href="#">More comments</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>