<section class="card--invert">
  <div>
    <div class="footer-branding card--invert p-4">
      <div class="container">
        <div class="row">
          <div class="col-9 footer-menu">
            <ul class="ps-0">
              <li class="leaf first">
                <a href="/about_us">About Us</a>
              </li>
              <li class="leaf">
                <a href="/contact_us">Contact Us</a>
              </li>
              <li class="leaf">
                <a href="/FAQ">FAQ</a>
              </li>
              <li class="leaf">
                <a href="/newsletter">Newsletter</a>
              </li>
              <li class="leaf">
                <a href="/moderator">Join moderators</a>
              </li>
              <li class="leaf">
                <a href="/banners">Our banners</a>
              </li>
              <li class="leaf last">
                <a href="#">Buy T-Shirts</a>
              </li>
            </ul>
            <ul class="ps-0">
              <li class="leaf first">
                <a href="/giveaways">Giveaways</a>
              </li>
              <li class="leaf">
                <a href="/banner_ads">Banner Ads</a>
              </li>
              <li class="leaf">
                <a href="/dealers_advertising">Dealers & Advertising</a>
              </li>
              <li class="leaf">
                <a href="#">Shopping comparison</a>
              </li>
              <li class="leaf">
                <a href="/trusted_retailer_program">Trusted Retailer Program</a>
              </li>
              <li class="leaf">
                <a href="/dealers_api_access">Dealers API</a>
              </li>
              <li class="leaf">
                <a href="/terms_service">Terms of Service</a>
              </li>
              <li class="leaf">
                <a href="/privacy_policy">Privacy Policy</a>
              </li>
              <li class="leaf">
                <a href="/refund_policy">Refund Policy</a>
              </li>
              <li class="leaf last">
                <a href="#">How To Order a Gun Online</a>
              </li>
            </ul>
          </div>
          <div class="col-3 footer-branding__logo-column">
            <div class="site-links">
              <div class="site-links__current">
                <a class="site-links__link" href="#">
                  <%= image_tag "logo.jpeg" %></a>
              </div>
              <div class="site-links__other">
                <a class="site-links__link" href="#">
                  <%= image_tag "cryptominer-main.svg" %></a>
                <%= image_tag "cryptominer.svg" %></a>
                <a class="site-links__link" href="#">
                  <%= image_tag "wikiarms-logo.png" %></a>
              </div>
            </div>
            <div class="footer-branding__copy">
              <div>Copyright © gun.deals 2022</div>
              <div><a href="#" target="_blank" class="footer-branding__byteout">Web development by
                <%= image_tag "byteout.svg" %></a>
              </div>
              <div><a href="#" target="_blank" class="footer-branding__moye">Web design by
                <%= image_tag "moye-design.svg" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>