
<div class="nav-two-header" id="Div02">
  <section class="bg-white">
    <div class="container">
      <div id="header" class="header region-header py-0 bg-white">
        <div class="container-fluid">
          <div class="row d-none d-sm-block d-xs-block d-sm-none d-md-block">
            <div class="col-lg-12 mt-4 px-0">
              <div class=" d-flex justify-content-between">
                <div class="logo d-none d-sm-block">
                  <%= image_tag('logo.jpeg', class: "img-logo logo d-none d-sm-block" , alt: "logo" )%>
                </div>
                <div class="logo d-sm-none d-xs-block">
                  <%= image_tag('secondLogo.jpeg', class: "img-logo-2 logo d-none d-sm-block" , alt: "logo" )%>
                </div>
                <div class="main-nav-bar ">
                  <div class="top-header navbar-nav ms-auto">
                    <div class="inner-header">
                      <!-- Actual search box -->
                      <div class="form-group logo d-none d-sm-block">

                        <div id="search-data-list logo d-none d-sm-block"
                             class="form-group has-search pe-xs-0 pe-sm-3 d-xs-block d-sm-none d-md-block ">
                          <span class="fa fa-search form-control-feedback"></span>
                          <input type="text" class="form-control d-none d-sm-block"
                                 id="search" placeholder="Search keyword" name="q"
                                 onkeyup="search()">
                          <div id="suggestions-search" class=""></div>
                        </div>

                      </div>
                      <!--                      <section class="compaire-price my-5 search-dropdown2" id="html-show">-->
                      <!--                        <div class="container">-->
                      <!--                          <div class="row">-->
                      <!--                            <div class="col-lg-10 ">-->
                      <!--                              <div-->
                      <!--                                class="horizontal-scrollable h-60 card search-products-card">-->
                      <!--                                <div class="p-1"></div>-->
                      <!--                              </div>-->
                      <!--                            </div>-->
                      <!--                          </div>-->
                      <!--                        </div>-->
                      <!--                      </section>-->

                      <div class="social-menu social-menu--header">
                        <ul class=" list-inline d-flex mt-1">
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-youtube-play"
                                           aria-hidden="true"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-rss"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-bell"></i></a>
                          </li>
                          <li class="d-none d-sm-block d-md-none">
                            <a href="#"><i class="fa fa-search"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---for mobile--->
          <div class="row d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
            <div class="col-lg-12 mt-4 px-0">
              <div class=" d-flex justify-content-between">
                <div class="main-nav-bar ">
                  <div class="top-header navbar-nav ms-auto">
                    <div class="inner-header">
                      <!-- Actual search box -->
                      <div class="form-group">

                        <div id="search-data-list"
                             class="form-group has-search pe-xs-0 pe-sm-3">
                          <span class="fa fa-search form-control-feedback"></span>
                          <input type="text" class="form-control d-none d-sm-block"
                                 id="search" placeholder="Search keyword" name="q"
                                 onkeyup="search()">
                          <div id="suggestions" class=""></div>
                        </div>

                      </div>
                      <div class="logo d-none d-sm-block">
                        <%= image_tag('logo.jpeg', class: "img-logo" , alt: "logo" )%>
                      </div>
                      <div class="logo d-sm-none d-xs-block">
                        <%= image_tag('secondLogo.jpeg', class: "img-logo-2" , alt: "logo" )%>
                      </div>
                      <section class="compaire-price my-5 search-dropdown2" id="html-show">
                        <div class="container">
                          <div class="row">

                            <div class="col-lg-10 ">
                              <div
                                class="horizontal-scrollable h-60 card search-products-card">
                                <div class="p-1"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <div class="social-menu social-menu--header">
                        <ul class=" list-inline d-flex mt-1">
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-youtube-play"
                                           aria-hidden="true"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="d-sm-none d-md-block d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
                            <a href="#"><i class="fa fa-mobile"></i></a>
                          </li>
                          <li class="d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
                            <a href="#"><i class="fa fa-bell"></i></a>
                          </li>
                          <li class="d-none d-sm-block d-md-none">
                            <a href="#"><i class="fa fa-search"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="pb-1 new-nav-bg-color">
  <div class="container">
    <div class="d-md-none d-sm-block d-xs-block">
      <nav class="navbar navbar-dark pt-1 pb-0">
        <div class="text-left">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="fa fa-bars"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
               aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-body p-0">
              <div class="bg_____color mb-1">
                <!-- search bar menu card -->
                <div id="search-data-list"
                     class="form-group has-search search_list pe-xs-0 pe-sm-3">
                                    <span class="fa fa-search form-control-feedback"
                                          id="search-form-control"></span>
                  <input type="text" class="form-control " id="searchAPI"
                         placeholder="Search keyword" name="q" onkeyup="searchGunAPI()">

                  <div class="data-search-canvas" id="data-search-canvas">
                    <div class="search-item"></div>
                  </div>
                </div>

                <div class="mt-4">
                  <ul class="navbar-nav flex-grow-1 pe-3 navbar__menu">
                    <div class="d-flex justify-content-between bg_____color ">
                      <li class="nav-item menu-item">
                        <a href="<%= root_path %>" title="All deals" class="fa fa-home nav-link active">All Deals</a>
                      </li>
                      <li class="nav-item border_item">
                        <a href="<%=popular_path %>" title="Gun Deals d-flex  Posted Today"
                           class="fa fa-star nav-link">Popular</a>
                      </li>
                    </div>
                    <div class="d-flex justify-content-between bg_____color ">
                      <li class="nav-item border_left">
                        <a href="/" title="All deals"
                           class="fa fa-calendar nav-link active">Date</a>
                      </li>
                      <li class="nav-item border_right">
                        <a href="<%= today_path %>" title="Gun Deals Posted Today"
                           class="fa fa-link nav-link">Today</a>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>

              <div class="primary-menu primary-menu--sidebar primary-menu__account">
                <div class="has-submenu dropdown primary-menu__label-container is-active">
                  <div class="d-flex">
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                    <button data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
                            class="icon-fa-link primary-menu__menu-label" aria-expanded="false">
                      <i class="fa fa-user"></i>
                      <span class="primary-menu_text">Welcome, guest <span
                        class="caret"></span></span>
                    </button>
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                  </div>
                  <ul id="multiCollapseExample2" class="primary-menu__dropdown-list">
                    <li class="primary-menu__dropdown-list-item">
                      <button class="icon-fa-link js-newsletter-subscribe-caller"
                              data-toggle="modal" data-target="#modalGuestSubscribe">
                        <span class="primary-menu_text">Subscribe to newsletter</span>
                        <span
                          class="primary-menu__dropdown-list-icon fa fa-newspaper-o"></span>
                      </button>
                    </li>
                    <hr class="bottom_line">
                    <li class="primary-menu__dropdown-list-item">
                      <a href="#" title="Register">
                        <span class="primary-menu_text">Register</span>
                        <span class="primary-menu__dropdown-list-icon fa fa-sign-in">
                                                </span>
                      </a>
                    </li>
                    <li class="primary-menu__dropdown-list-item">
                      <a href="#" title="Reset Password">
                        <span class="primary-menu_text">Reset Password</span>
                        <span class="primary-menu__dropdown-list-icon fa fa-key"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="primary-menu primary-menu--sidebar primary-menu__category-links-mobile">
                  <div class="primary-menu__label-container d-flex">
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                    <div class="primary-menu__menu-label">Categories</div>
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                  </div>
                  <ul role="menu">
                    <% unless !@categories.present? %>
                      <% @categories.each do |category| %>
                        <li class="leaf first"><a href="<%= category_path(category) %>" title="<%= category.name %>"
                                                  class="icon-ammo primary-menu_text"><%= category.name %>
                        </a>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
                <div class="primary-menu primary-menu--sidebar primary-menu__quick-links-mobile">
                  <div class="primary-menu__label-container d-flex">
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                    <div class="primary-menu__menu-label primary-menu_text">Quick links</div>
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                  </div>
                  <ul role="menu">
                    <li class="leaf first"><a href="<%= twentytwo_lr_ammo_path %>" title="22LR Ammo" class="icon-ammo primary-menu_text">22LR Ammo</a></li>
                    <!--                    <li class="leaf"><a href="<%#= fetch_blogs_path %>" title="blog" class="primary-menu_text">Blog</a></li>-->
                    <li class="leaf"><a href="<%= nine_mm_ammo_path %>" title="9mm Ammo" class="icon-ammo primary-menu_text">9mm Ammo</a></li>
                    <li class="leaf"><a href="" title="223 Rem - 5.56 Ammo" class="icon-ammo primary-menu_text">223 Rem - 5.56 Ammo</a></li>
                    <li class="leaf"><a href="<%=ak_deals_path %>" title="AK Deals primary-menu_text">AK Deals</a></li>
                    <li class="leaf"><a href="<%=ar_deals_path %>" title="AR Deals primary-menu_text">AR Deals</a></li>
                    <li class="leaf"><a href="<%= popular_path %>" title="Popular primary-menu_text">Popular</a></li>
                    <li class="leaf"><a href="<%=  %>" title="1911 primary-menu_text">1911</a></li>
                    <li class="leaf"><a href="<%=c_and_r_path %>" title="C&amp;R primary-menu_text">C&amp;R</a></li>
                    <li class="leaf"><a href="<%= rimfire_path %>" title="Rimfire primary-menu_text">Rimfire</a> </li>
                    <li class="leaf"><a href="<%= revolvers_path %>" title="Revolver primary-menu_text">Revolver</a></li>
                    <li class="leaf"><a href="#" title="50% Off primary-menu_text">Vulcan</a></li>
                    <li class="leaf"><a href="<%=stores_path %>" title="Stores page primary-menu_text">Stores</a></li>
                    <li class="leaf"><a href="#" title="" class="primary-menu_text">Rebates</a></li>
                    <li class="leaf"><a href="<%= comments_path %>" title="" class="primary-menu_text">RecentComments</a></li>
                    <!--                    <li class="leaf"><a href="<%#= compare_guns_path %>" title="" class="primary-menu_text">CompareGuns</a></li>-->
                    <li class="leaf"><a href="<%= top_articles_path %>" title="" class="primary-menu_text">TopArticles</a></li>
                    <li class="leaf last"><a href="<%= used_guns_path %>" title="" class="primary-menu_text">UsedGuns</a></li>
                  </ul>
                </div>

                <div class="primary-menu primary-menu--sidebar primary-menu__other-apps">
                  <div class="primary-menu__label-container d-flex">
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                    <div class="primary-menu__menu-label primary-menu_text">Other Apps</div>
                    <div class="primary-menu__label-line-wrapper">
                      <div class="primary-menu__label-line"></div>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <a href="#">
                        <span class="primary-menu_text">Barcode Scanner</span>
                        <span class="gun-icon-Search"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="primary-menu_text">WikiArms Ammo Engine</span>
                        <span class="primary-menu__wikiarms-icon"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="primary-menu_text">Gun Deals Application</span>
                        <span class="primary-menu__gundeals-icon"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="social-menu social-menu--sidebar bg_____color">
                  <ul class="">
                    <li> <a href="#" class="icon-fa-link"target="_blank"><i class="fa fa-youtube-play social__icon"></i></a></li>
                    <li> <a href="#" class="icon-fa-link" target="_blank"><i class="fa fa-facebook social__icon"></i></a></li>
                    <li> <a href="#" class="icon-fa-link" target="_blank"><i class="fa fa-twitter social__icon"></i></a></li>
                    <li> <a href="/rss.xml" class="icon-fa-link" target="_blank"><i class="fa fa-rss social__icon"></i></a></li>
                    <!-----<li> <a href="/site-news" class="icon-fa-link js-news-icon news__icon "><i class="fa fa-bell"></i></a></li>--->
                  </ul>
                </div>

                <div class="sidebar__footer">
                  <div class="primary-menu primary-menu__bottom-links">
                    <div class="primary-menu__bottom-link"> <a href="#"> <span>post a deal</span> <i class="fa fa-pencil"></i> </a>
                    </div>
                    <div class="primary-menu__bottom-link"> <a href="#"> <span>login</span> <span
                      class="primary-menu__icon gun-icon-menu_ic_login"></span> </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="header__bottom justify-content-between d-none d-md-block">
      <div class="primary-menu primary-menu--header header__submenu-container menu-header">

        <ul role="menu">
          <li class="leaf first active-trail">
            <a href="<%= root_path %>" title="All deals" class="<%= isActive_path?(root_path) %>">All Deals</a>li>
          <li class="leaf">
            <a href="<%=today_path %>" title="Gun Deals Posted Today" class="<%= isActive_path?(today_path) %>">Today</a>
          </li>
          <li class="expanded dropdown">
            <a class="nolink" data-toggle="dropdown" title="Categories" class="active__class">Categories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% unless !@categories.present? %>
                <% @categories.each do |category| %>
                  <li class="leaf first">
                    <a href="<%= category_path(category) %>" title="<%= category.name %>"
                       class="icon-handguns">
                      <%= category.name %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="expanded dropdown">
            <a class="nolink" data-toggle="dropdown" title="Quick links">Quick links
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <!--              <li class="leaf first">-->
              <!--                <a href="#" title="Vulcan">Vulcan</a>-->
              <!--              </li>-->
              <li class="leaf">
                <a href="<%= revolvers_path %>" title="Revolver">Revolver</a>
              </li>
              <li class="leaf">
                <a href="<%= rimfire_path %>" title="Rimfire">Rimfire</a>
              </li>
              <li class="leaf">
                <a href="<%=c_and_r_path %>" title="C&amp;R">C&amp;R</a>
              </li>
              <!--              <li class="leaf">-->
              <!--                <a href="#" title="1911">1911</a>-->
              <!--              </li>-->
              <li class="leaf">
                <a href="<%=ar_deals_path %>" title="AR Deals">AR Deals</a>
              </li>
              <li class="leaf">
                <a href="<%=ak_deals_path %>" title="AK Deals">AK Deals</a>
              </li>
              <li class="leaf">
                <a href="<%= stores_path %>" title="Stores page">Stores</a>
              </li>
              <!--              <li class="leaf">-->
              <!--                <a href="#" title="">Rebates</a>-->
              <!--              </li>-->
              <!--              <li class="leaf">-->
              <!--                <a href="#" title="">Recent Comments</a>-->
              <!--              </li>-->
              <li class="leaf">
                <a href="<%= top_articles_path %>" title="">Top Articles</a>
              </li>
              <!--              <li class="leaf">-->
              <!--                <a href="#" title="">Compare Guns</a>-->
              <!--              </li>-->
              <li class="leaf">
                <a href="<%= used_guns_path %>" title="Used Guns">Used Guns</a>
              </li>
              <li class="leaf">
                <!--                <a href="<%#= fetch_blogs_path %>" title="">Blog</a>-->
              </li>
              <li class="leaf">
                <a href="<%= twentytwo_lr_ammo_path %>" title="22 LR Ammo" class="icon-ammo">22 LR
                  Ammo</a>
              </li>
              <li class="leaf">
                <a href="<%= nine_mm_ammo_path %>" title="9mm Ammo" class="icon-ammo">9mm Ammo</a>
              </li>
              <!--              <li class="leaf last">-->
              <!--                <a href="#"-->
              <!--                   title="223 Rem - 5.56 NATO Ammo" class="icon-ammo">223/5.56-->
              <!--                  Ammo</a>-->
              <!--              </li>-->
            </ul>
          </li>
          <li class="leaf last">
            <a href="<%= popular_path %>" title="Popular" class="<%= isActive_path?(popular_path) %>">Popular</a>
          </li>
        </ul>
      </div>
      <div class="secondary-menu secondary-menu--header header__submenu-container menu-header">
        <ul>
          <li class="hidden-xs hidden-sm">
            <a href="<%= new_product_path %>" class="<%= isActive_path?(new_product_path) %>" title="Post a Deal">
              <i class="fa fa-pencil"></i>
              <span>Post a Deal</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="icon-fa-link" data-toggle="dropdown" title="Welcome, guest ">
              <i class="fa fa-user"></i>
              <% if current_user %>
                                <span>
                                    <%= current_user.username %>
                                  <span class="caret"></span>
                                </span>
              <% end %>
            </a>
            <% if user_signed_in? %>

              <ul class="dropdown-menu" role="menu">
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method=> 'get') %>
                  <%= link_to('My account', my_accounts_views_path) %>
                  <%= link_to('My watchlist', my_accounts_my_watchlist_path) %>
                </li>
              </ul>
            <% else %>
              <a href="#" class="icon-fa-link" data-toggle="dropdown" title="Welcome, guest ">
                                    <span>Welcome, guest
                                        <span class="caret"></span>
                                    </span>
              </a>
              <ul class="dropdown-menu" role="menu">

                <li role="separator" class="divider"></li>
                <li>
                  <a href="<%= user_session_path %>" title="Login">Login</a>
                </li>
                <li>
                  <a href="<%= new_user_registration_path %>" title="Register">Register</a>
                </li>
                <li>
                  <a href="<%= edit_user_password_path %>" title="Reset Password">Reset
                    Password</a>
                </li>
              </ul>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
    document.querySelector('#search').addEventListener('keypress', (event) => {
        if (event.keyCode === 13 || event.which === 13) {
            const product = document.querySelectorAll('.product-flex');
            console.log(product[0]);
            window.location.replace(product[0].href)
            const targetedValue = event.target.value
            console.log(targetedValue);
            product.forEach((product) => {
                console.log(product.url)
                console.log(product[0])
            });
        }
    });



    function search() {
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/search_products",
                data: {
                    q: $('#search').val()
                },
                success: function (data) {
                    const productWrapper = document.querySelector('#suggestions-search');

                    console.log({dataSearchGun: data});
                    if(data.length > 0) {
                        console.log('Enable Scroll Data', data)
                        productWrapper.classList.add('suggestions-search')
                        productWrapper.setAttribute('style', 'display: block !important;')
                    }
                    let productCounter = " "
                    data.forEach((product) => {
                        console.log(product.title)
                        productCounter += `
                        <div class="product-basic-info-card">
                                    <div class="product-basic-info-card__image-container">
                                       <a class="product-flex" href="/search/${product.id}">
                                         <img src="${product.image_link}" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                                          <div class="product-detail-search">
                                             <strong class="product-title-search">
                                               <i class="fa fa-circle" aria-hidden="true"></i>
                                               <span class="truc-title-search">${product.title}</span>
                                              </strong>
                                             <div class="detail-search">
                                                <span>Brand: ${product.brand}</span>
                                                <span>UPC: ${product.upc}</span>
                                                <span>Caliber: ${product.caliber}</span>
                                                <span>From: ${product.amount}</span>
                                             </div>
                                          </div>
                                       </a>
                                    </div>
                                               `
                        // console.log(product.title);
                        productWrapper.innerHTML = `<div class="sugguest-products-search">
                          <p class="heading-suggested">SUGGESTED PRODUCTS</p>
                    ${productCounter} </div>`;
                        document.querySelector('.search-products-card')
                            .setAttribute('style', 'display: block !important;')
                    })
                }
            });
        });
    };

    // Enter Search Funtionality
    // const searchEnter = document.querySelector('.search-func');
    // searchEnter.addEventListener('keypress', (event) => {
    //     console.log('pressed')
    // })
    // //.. Off-Canvas-MENU-SEARCH

    function searchGunAPI() {
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/search_products",
                data: {
                    q: $('#searchAPI').val()
                },
                success: function (data) {
                    // document.querySelector('.data-search-canvas').setAttribute('style', '  visibility: visible !important;')
                    const productWrapper = document.querySelector('.data-search-canvas');
                    if (data.length >= 3) {
                        productWrapper.classList.add('data-search-scroll')
                    };




                    productWrapper.setAttribute('style', 'visibility: visible !important; ')
                    let productCounter = " "

                    console.log({apiCanvasData: data});

                    //.. LOOP Throught Items
                    data.forEach(product => {
                        productWrapper.style.display = 'block'
                        productCounter += `
                         <a href="${product.id}" class="product-item-canvas">
                            <img src="${product.image.url}" class="canvas-img"/>
                            <div class="product-canvas-detail">
                               <span> <strong> ${product.title} </strong> </span>
                               <span>Brand: ${product.brand}</span>
                               <span>UPC: ${product.upc}</span>
                               <span>Caliber: ${product.caliber}</span>
                               <span>From: ${product.price}</span>
                            </div>
                        </a>
                       `;
                        productWrapper.innerHTML = productCounter;
                    });



                }
            });
        });
    };

    // Truckate TExt
    const textTitle = document.querySelectorAll('#search-title');
    console.log(textTitle.length)
    const searchInput = document.querySelector('#search');
    let targettedArea = document.querySelector('#suggestions-search');
    searchInput.addEventListener('keyup', (event) => {

        // alert(event.target.key)

        // (i) Enable Backspace
        const targetedKey = event.key
        if (targetedKey === 'Backspace') {
            // document.body.innerHTML = "<h1>No content</h1>
            targettedArea.style.display = "none"

        } else {
            targettedArea.style.display = 'block'
        }

        event.preventDefault();
        return true;
    });
</script>


<script>
    //.. HIDE SEARCH BOX AFTER CLICKING ON THE WINDOW
    const searchBox = document.querySelector('#suggestions-search');
    document.body.addEventListener('click', (event) => {
        if (searchBox !== event.target) {
            searchBox.style.display = 'none'
            // alert('You hide')
        };
        return true;
    });





    document.querySelector('#searchAPI').addEventListener('keyup', (event) => {
        const targetedKey = event.key;
        const dataSearchBox = document.querySelector('.data-search-canvas');
        if (targetedKey === "Backspace") {
            document.querySelector('.data-search-canvas').setAttribute('style', '  visibility: hidden !important;')
        }
        event.preventDefault();
        return true;
    })

    document.querySelector('#search').addEventListener('keyup', (event) => {
        const targetedKey = event.key;
        const dataSearchBox = document.querySelector('.data-search-canvas');
        if (targetedKey === "Backspace") {
            document.querySelector('#suggestions-search').setAttribute('style', '  visibility: hidden !important;')
        }
        event.preventDefault();
        return true;
    })
    // Filter GUN PRODUCTS LEFT

    const header = document.querySelector(".header__bottom");
    const btns = document.querySelectorAll(".leaf");
    btns.forEach(function(navItem){
        navItem.addEventListener('click', (function(event) {
            event.target.classList.add('active')

        }))
    })

</script>