<style>

    #search-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        height:auto;
        font-size: 15px !important;
        text-align: left;
        font-weight: bold; !important;
        margin-left: -10px !important;
        margin-bottom: 5px !important;
    }
    .horizontal-scrollable {
        display: none;
        height: 400px !important;
        overflow-y: scroll;
        scroll-behavior: smooth;
        margin-right: 40px !important;
        margin-top: 2px !important;
    }
    .product-basic-info-card {
        font-size: 10px !important;
        line-height: .5;
    }
    .product-basic-info-card__image {
        height: 70px !important;
        width: 100px !important;
    }
    .product-basic-info-card__specification .definition-list.collapse {
        height: 82px !important;
        border-bottom: 1px solid #eee !important;
        margin-top: -4px !important;
    }
    .product-basic-info-card img {
        height: 70px !important;
        object-fit: cover;
    }
</style>
<div class="nav-two-header" id="Div02">
  <section class="bg-white">
    <div class="container">
      <div id="header" class="header region-header py-0 bg-white">
        <div class="container-fluid">
          <div class="row " >
            <div class="col-lg-12 mt-4 px-0">
              <div class=" d-flex justify-content-between">
                <div class="logo d-none d-sm-block">
                  <%= image_tag('logo.jpeg', class: "img-logo" , alt: "logo" )%>
                </div>
                <div class="logo d-sm-none d-xs-block">
                  <%= image_tag('secondLogo.jpeg', class: "img-logo-2" , alt: "logo" )%>
                </div>
                <div class="main-nav-bar ">
                  <div class="top-header navbar-nav ms-auto">
                    <div class="inner-header">
                      <!-- Actual search box -->
                      <div id="search-data-list" class="form-group has-search pe-xs-0 pe-sm-3 d-xs-block d-sm-none d-md-block ">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" id="search" placeholder="Search keyword" name="q" onkeyup="search()">
                      </div>

                      <section class="compaire-price my-5 search-dropdown2" id="html-show">
                        <div class="container">
                          <div class="row">

                            <div class="col-lg-10 ">
                              <div class="horizontal-scrollable h-50 card">
                                <div class=" p-1">
                                  <h6 class="">SUGGESTED PRODUCTS</h6>

                                </div>


                              </div>

                            </div>
                          </div>
                        </div>
<!--                        <script>-->
<!--                            function showHtmlDiv() {-->
<!--                                var htmlShow = document.getElementById("html-show");-->
<!--                                if (htmlShow.style.innerHTML === "") {-->
<!--                                    htmlShow.style.display = "none";-->
<!--                                } else {-->
<!--                                    htmlShow.style.display = "block";-->

<!--                                }-->
<!--                            }-->
<!--                        </script>-->
                      </section>

                      <div class="social-menu social-menu--header">
                        <ul class=" list-inline d-flex mt-1">
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-rss"></i></a>
                          </li>
                          <li class="d-none d-sm-block">
                            <a href="#"><i class="fa fa-bell"></i></a>
                          </li>
                          <li class="d-none d-sm-block d-md-none">
                            <a href="#"><i class="fa fa-search"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</section>
<section class="pb-1 new-nav-bg-color">
  <div class="container">
    <div class="d-md-none d-sm-block d-xs-block">

      <nav class="navbar navbar-dark pt-1 pb-0">
        <div class="text-left">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Gun Feed</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a href="/" title="All deals" class="nav-link active">All Deals</a>
                </li>
                <li class="nav-item">
                  <a href="#" title="Gun Deals Posted Today" class="nav-link">Today</a>
                </li>
                <li class="nav-item ">

                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </a>
                  <ul class="dropdown-menu dropdown-menu-white">
                    <li><a class="dropdown-item" href="#">Handguns</a></li>
                    <li><a class="dropdown-item" href="#">Rifles</a></li>
                    <li><a class="dropdown-item" href="#">Shotguns</a></li>
                    <li><a class="dropdown-item" href="#">Parts</a></li>
                    <li><a class="dropdown-item" href="#">Ammo</a></li>
                    <li><a class="dropdown-item" href="#">Optics & Sights</a></li>
                    <li><a class="dropdown-item" href="#">Accessories</a></li>
                    <li><a class="dropdown-item" href="#">NFA</a></li>
                    <li><a class="dropdown-item" href="#">Knives</a></li>
                    <li><a class="dropdown-item" href="#">Archery</a></li>
                    <li><a class="dropdown-item" href="#">Reloading</a></li>
                    <li><a class="dropdown-item" href="#">Services</a></li>
                    <li><a class="dropdown-item" href="#">CA Legal</a></li>
                  </ul>
                </li>
                <li class="nav-item ">

                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quick links
                  </a>
                  <ul class="dropdown-menu dropdown-menu-white">
                    <li><a class="dropdown-item" href="#">Vulcan</a></li>
                    <li><a class="dropdown-item" href="#">Revolver</a></li>
                    <li><a class="dropdown-item" href="#">Rimfire</a></li>
                    <li><a class="dropdown-item" href="#">C&R</a></li>
                    <li><a class="dropdown-item" href="#">1911</a></li>
                    <li><a class="dropdown-item" href="#">AR Deals</a></li>
                    <li><a class="dropdown-item" href="#">AK Deals</a></li>
                    <li><a class="dropdown-item" href="#">Stores</a></li>
                    <li><a class="dropdown-item" href="#">Rebates</a></li>
                    <li><a class="dropdown-item" href="#">Recent Comments</a></li>
                    <li><a class="dropdown-item" href="#">Top Articles</a></li>
                    <li><a class="dropdown-item" href="#">Compare Guns</a></li>
                    <li><a class="dropdown-item" href="#">Used Guns</a></li>
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                    <li><a class="dropdown-item" href="#">22 LR Ammo</a></li>
                    <li><a class="dropdown-item" href="#">9mm Ammo</a></li>
                    <li><a class="dropdown-item" href="#">223/5.56 Ammo</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" title="Gun Deals Posted Today" class="nav-link">Popular</a>
                </li>
                <li class="nav-item">
                  <a href="#" title="Gun Deals Posted Today" class="nav-link"><i class="fa fa-pencil"></i> <span>Post a Deal</span></a>
                </li>
                <li class="nav-item ">

                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span>Welcome, guest
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-white">
                    <li><a class="dropdown-item" href="#">Subscribe to newsletter</a></li>
                    <li><a class="dropdown-item" href="<%= user_session_path %>">Login</a></li>
                    <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Register</a></li>
                    <li><a class="dropdown-item" href="<%= edit_user_password_path %>">Reset Password</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="header__bottom justify-content-between d-none d-md-block">
      <div class="primary-menu primary-menu--header header__submenu-container menu-header">

        <ul role="menu">
          <li class="leaf first active-trail">
            <a href="<%= root_path %>" title="All deals" class="active">All Deals</a>
          </li>
          <li class="leaf">
            <a href="<%=today_path %>" title="Gun Deals Posted Today">Today</a>
          </li>
          <li class="expanded dropdown">
            <a class="nolink" data-toggle="dropdown" title="Categories">Categories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% unless !@categories.present? %>
              <% @categories.each do |category| %>
                <li class="leaf first">
                  <a href="<%= category_path(category) %>" title="<%= category.name %>"
                     class="icon-handguns"><%= category.name %></a>
                </li>
              <% end %>
               <% end %>
            </ul>
          </li>
          <li class="expanded dropdown">
            <a class="nolink" data-toggle="dropdown" title="Quick links">Quick links
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
<!--              <li class="leaf first">-->
<!--                <a href="#" title="Vulcan">Vulcan</a>-->
<!--              </li>-->
              <li class="leaf">
                <a href="<%= revolvers_path %>" title="Revolver">Revolver</a>
              </li>
              <li class="leaf">
                <a href="<%= rimfire_path %>" title="Rimfire">Rimfire</a>
              </li>
              <li class="leaf">
                <a href="<%=c_and_r_path %>" title="C&amp;R">C&amp;R</a>
              </li>
<!--              <li class="leaf">-->
<!--                <a href="#" title="1911">1911</a>-->
<!--              </li>-->
              <li class="leaf">
                <a href="<%=ar_deals_path %>" title="AR Deals">AR Deals</a>
              </li>
              <li class="leaf">
                <a href="<%=ak_deals_path %>" title="AK Deals">AK Deals</a>
              </li>
              <li class="leaf">
                <a href="<%= stores_path %>" title="Stores page">Stores</a>
              </li>
<!--              <li class="leaf">-->
<!--                <a href="#" title="">Rebates</a>-->
<!--              </li>-->
<!--              <li class="leaf">-->
<!--                <a href="#" title="">Recent Comments</a>-->
<!--              </li>-->
              <li class="leaf">
                <a href="<%= top_articles_path %>" title="">Top Articles</a>
              </li>
<!--              <li class="leaf">-->
<!--                <a href="#" title="">Compare Guns</a>-->
<!--              </li>-->
              <li class="leaf">
                <a href="<%= used_guns_path %>" title="Used Guns">Used Guns</a>
              </li>
              <li class="leaf">
                <a href="<%= blogs_index_path %>" title="">Blog</a>
              </li>
              <li class="leaf">
                <a href="<%= twentytwo_lr_ammo_path %>" title="22 LR Ammo"
                   class="icon-ammo">22 LR Ammo</a>
              </li>
              <li class="leaf">
                <a href="<%= nine_mm_ammo_path %>" title="9mm Ammo"
                   class="icon-ammo">9mm Ammo</a>
              </li>
<!--              <li class="leaf last">-->
<!--                <a href="#"-->
<!--                   title="223 Rem - 5.56 NATO Ammo" class="icon-ammo">223/5.56-->
<!--                  Ammo</a>-->
<!--              </li>-->
            </ul>
          </li>
          <li class="leaf last">
            <a href="<%= popular_path %>" title="Popular">Popular</a>
          </li>
        </ul>
      </div>
      <div
        class="secondary-menu secondary-menu--header header__submenu-container menu-header">
        <ul>
          <li class="hidden-xs hidden-sm">
            <a href="<%= new_product_path %>" class="icon-fa-link" title="Post a Deal">
              <i class="fa fa-pencil"></i>
              <span>Post a Deal</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="icon-fa-link" data-toggle="dropdown"
               title="Welcome, guest ">
              <i class="fa fa-user"></i>
              <span>Welcome, guest
                <span class="caret"></span>
              </span>
            </a>
            <% if user_signed_in? %>

              <ul class="dropdown-menu" role="menu">

                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => 'get') %>
<!--                  <a href="<%#= destroy_user_session_path :method => 'delete' %>" title="Logout">Logout</a>-->
                </li>
              </ul>
              <% else %>
            <ul class="dropdown-menu" role="menu">

              <li role="separator" class="divider"></li>
              <li>
                <a href="<%= user_session_path %>" title="Login">Login</a>
              </li>
              <li>
                <a href="<%= new_user_registration_path %>" title="Register">Register</a>
              </li>
              <li>
                <a href="<%= edit_user_password_path %>" title="Reset Password">Reset
                  Password</a>
              </li>
            </ul>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>




<script>

    function search() {
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/search_products",
                data:{
                    q: $('#search').val()
                },
                success:function(data){
                    // console.log(data)

                    const productWrapper = document.querySelector('.p-1');
                    let productCounter = " "
                    data.forEach((product)=>{
                        console.log(product)
                        productCounter += `
                        <div class="product-basic-info-card">
                                    <div class="product-basic-info-card__image-container">
                                      <div class="product-basic-info-card__image" style="width:150px; height:140px">
                                        <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                                      </div>
                                    </div>
                                    <div class="product-basic-info-card__main-content">
                                      <div class="product-basic-info-card__main-content__title">
                                        <h5 id="search-title" class="card-text truncate" itemprop="name">${product.title}</h5>
                                      </div>
                                      <div class="product-basic-info-card__specification search-dropdown-list">
                                        <dl class="definition-list collapse" id="specifications">
                                          <div>
                                            <dd>Brand</dd>
                                            <dt>
                                              <span>${product.brand}</span>
                                            </dt>
                                          </div>
                                          <div>
                                            <dd>MPN</dd>
                                            <dt>
                                              <span itemprop="gtin12">${product.mpn}</span>
                                            </dt>
                                          </div>
                                          <div>
                                            <dd>Caliber</dd>
                                            <dt>${product.caliber}</dt>
                                          </div>
                                          <div>
                                            <dd>From</dd>
                                            <dt>${product.price}</dt>
                                          </div>
                                        </dl>
                                      </div>
                                    </div>
                                  </div>
                        `
                        // console.log(product.title);
                        productWrapper.innerHTML = productCounter
                    })
                    // $.each(array_of_objs, function( index, obj ) {
                    //     // $('#search-data-list').append($('<ul class="bg-dark"> ').append($('<li>').text(obj.title)));
                    //     // $('.p-1').innerHTML = `<h3>${obj.title}</h3>`
                    //     // console.log(obj.title);
                    //     const productwraper = document.querySelector('.p-1');
                    //     productwraper.innerHTML = `<h3>${obj.title}</h3>`
                    //     console.log(productwraper)
                    // });





















                }
            });
        });
        };


    // Truckate TExt
    const textTitle = document.querySelectorAll('#search-title');
    console.log(textTitle.length)
    const searchInput = document.querySelector('#search');
    let targettedArea = document.querySelector('.horizontal-scrollable');
    searchInput.addEventListener('keyup', (event) => {

        // alert(event.target.key)

        // (i) Enable Backspace
        const targetedKey = event.key
        if (targetedKey === 'Backspace') {
          // document.body.innerHTML = "<h1>No content</h1>
            targettedArea.style.display = "none"

        } else {
            targettedArea.style.display = 'block'
        }

        event.preventDefault();
        return true;
    })
</script>