<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>
<div class="body-style">
  <%= render partial: 'partials/header' %>
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- moderation section start here ---------------------  -->
  <section class="moderation mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Moderators</h1>
            </div>
            <div class="card__content">
              <p>If you would like to take a behind the scenes role at gun.deals and help out with the day to day site operation, please send us an email to office@gun.deals with "Moderator" in the title. We are looking for independent individuals who have a passion for firearms and deals. Although at this time we can not offer significant compensation, we hope for these positions to grow into full time in the future.</p>
              <p>Please mention your gun.deals user name, your location, topics that interest you and what would you like to help us with. We prefer users that have a history of deal posts and comments. Please mention if you are interested in compensation and your preferable rate. Only moderators that can commit to working certain hours in the day will be compensated.</p>
              <p>Tasks that we need help with
                <br>1. Monitor
                <a rel="nofollow" href="#" title="https://gun.deals/today">https://gun.deals/today</a> and review any new deals
                <br>posted. Add UPC and MPN for price comparison to work, upload a picture
                <br>if it's missing or it's not adequate, find a better or more accurate
                <br>picture....
              </p>
              <p>2. First time posters / newly registered user need to be approved in
                <br>order for their "deal" to show up. We need to make sure it's an actual
                <br>deal and not spam, if everything is legit, we approve those users.
              </p>
              <p>3. Utilize our price trackers and tools that we have built to locate good deals, price drops, popular products that are back in stock.</p>
              <p>4. Monitor other websites and forums for any possible good deals that
                <br>might come up. New deals are not common on the weekends and evenings, we need to review and refresh
                <br>older postings that are popular and still in stock during these times.
              </p>
              <p>5. Help out newbies in the forum section and delete forum spam.</p>
              <p>There are many more tasks that we could use help with, if you are
                <br>interested I can email you more information about we are looking for.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------- moderation section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>
</html>