 <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!-- ------------products_head partial ----------------- -->

 <%= render partial: 'partials/products_head' %>

  <!-- ------------handgun first discription section end----------------- -->

  <!-- ----------------new section for hand gun card section start--------------- -->

  <section class="pb-4">
    <div class="container">
      <div class="">
        <div class="d-flex justify-content-between gap-3">
          <div class="set-width-left-card">
            <div class="card card--filters js-page-filters card--filters-sidebar card--sidebar-xs card--sidebar-sm p-3 mb-3">
              <div class="card__title">
                <div class="page-controls">
                  <div class="form-group">
                    <div class="js-field-toggle field-toggle field-toggle--switch field-toggle--light field-toggle--mini field-toggle--with-title field-toggle--title-after" data-toggle="tooltip" data-title="Play sound when new deals are published" data-original-title="" title="">
                      <div class="field-toggle__container">
                        <input id="field-toggle-monitor-new-products" type="checkbox" class="field-toggle__checkbox js-monitor-new-products" data-query-key="monitor-new-products">
                        <label for="field-toggle-monitor-new-products" class="field-toggle__label">
                          <span class="field-toggle__icon"></span>
                          <span class="field-toggle__icon"></span>
                        </label>
                      </div>
                      <span class="field-toggle__title js-field-toggle-title noselect" role="button"> Monitor new deals </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="js-field-toggle field-toggle field-toggle--switch field-toggle--light field-toggle--mini field-toggle--with-title field-toggle--title-after" data-toggle="tooltip" data-title="Show new deals first, deals that are back in stock or price drops in
                                    the last 24 hours, scroll down for bumped deals" data-original-title="" title="">
                      <div class="field-toggle__container">
                        <input id="field-toggle-only-show-new-deals" type="checkbox" class="field-toggle__checkbox js-only-show-new-deals" data-query-key="only-show-new-deals" checked="checked">
                        <label for="field-toggle-only-show-new-deals" class="field-toggle__label">
                          <span class="field-toggle__icon"></span>
                          <span class="field-toggle__icon"></span>
                        </label>
                      </div>
                      <span class="field-toggle__title js-field-toggle-title noselect" role="button"> New deals first </span>
                    </div>
                  </div>
                </div>
                <h3 class="visible-xs-block visible-sm-block d-none">Filter Gun Deals Posted Today</h3>
              </div>
            </div>
            <%= render partial: 'partials/sidebar_filters' %>
          </div>
          <div class="set-width-right-card">
            <div class="row row-cols-4">
              <% @products.each do |product| %>
                <div class="col mb-3">
                  <div class="card h-100">
                    <div class="card-body d-flex justify-content-between">
                      <% unless product.sponsored != true %>
                        <span class="tile__sponsored"><a href="#">Sponsored</a></span>
                      <% end %>
                      <a href="#" class="card-link "><span></span></a>
                      <span class="card-link price-tag price-tag--one-line"><span>$<%= product.price %></span></span>
                    </div>
                    <a href="<%= product_path(product) %>"><image src = "<%= product.image %>" /></a>
                    <div class="card-body tile__title">
                      <p class="card-text truncate "><a href="<%= product_path(product) %>"><%= product.title %></a></p>
                    </div>
                    <div class="card-body d-flex justify-content-between tile__actions-container">
                      <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i
                        class="fa fa-thumbs-up"></i> <span>2</span></a>
                      <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i
                        class="fa fa-thumbs-down"></i> <span>13</span></a>
                      <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i
                        class="fa fa-comments"></i> <span>0</span></a>
                    </div>
                    <div class="card-body d-flex justify-content-between card-footer tile__actions-container">

                      <a href="#" class="card-link icon-fa-link"><i class="fa fa-shopping-cart"></i><span><%= product.store.title %></span></a>
<!--                      <a href="#" class="card-link icon-fa-link"><i class="fa fa-balance-scale"></i><span></span></a>-->
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------new section for hand gun-end-------------- -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
<script>

  // Once it reload, it never get reload again + it will not effect the UI
    (function () {
        const reloadFunc = () => {
            {
                if (window.localStorage) {
                    if (!localStorage.getItem('firstLoad')) {
                        localStorage['firstLoad'] = true;
                        setTimeout(() => {
                            window.location.reload();
                        },100);
                    } else
                        localStorage.removeItem('firstLoad');
                }
            }
        };

        reloadFunc();
    })();
</script>
