<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>
<body class="body-style">
<%= render partial: 'partials/header' %>
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>

<% if params[:product_id] && params[:compared_product_id] && !params[:product3_id] && !params[:product4_id] && !params[:product5_id] && !params[:product6_id] && !params[:product7_id] && !params[:product8_id] %>
  <%= render partial: 'partials/compare_gun' %>

  <% elsif params[:product_id] && params[:product3_id] && params[:compared_product_id].present? %>

  <% @product = Product.find(params[:product_id]) rescue nil %>
  <% product_id =  Product.where(id:@product.id).last %>
  <% product_category_id = product_id.category_id %>

  <% @product_2 = Product.where(category_id: product_category_id ).where.not(id: @product.id).first %>
  <% @product_4 = Product.where(category_id: product_category_id ).where.not(id: @product.id).second %>
  <% @product_5 = Product.where(category_id: product_category_id ).where.not(id: @product.id).third %>

<% @product_3 = Product.find(params[:product3_id]) rescue nil %>
  <% product3_id =  Product.where(id:@product_3.id).last %>
  <% product_category_id = product3_id.category_id %>

  <% @product_6 = Product.where(category_id: product_category_id ).where.not(id: @product_3.id).fourth %>
  <% @product_7 = Product.where(category_id: product_category_id ).where.not(id: @product_3.id).fifth %>
  <% @product_8 = Product.where(category_id: product_category_id ).where.not(id: @product_3.id).last %>

  <%= render partial: 'partials/compare_gun3' %>

<% elsif params[:product_id] && params[:product4_id] && params[:compared_product_id].present? %>

  <% @product = Product.find(params[:product_id]) rescue nil %>
  <% product_id =  Product.where(id:@product.id).last %>
  <% product_category_id = product_id.category_id %>

  <% @product_2 = Product.where(category_id: product_category_id ).where.not(id: @product.id).first %>
  <% @product_3 = Product.where(category_id: product_category_id ).where.not(id: @product.id).second %>
  <% @product_5 = Product.where(category_id: product_category_id ).where.not(id: @product.id).third %>

  <% @product_4 = Product.find(params[:product4_id]) rescue nil %>
  <% product4_id =  Product.where(id:@product_4.id).last %>
  <% product_category_id = product4_id.category_id %>

  <% @product_6 = Product.where(category_id: product_category_id ).where.not(id: @product_4.id).fourth %>
  <% @product_7 = Product.where(category_id: product_category_id ).where.not(id: @product_4.id).fifth %>
  <% @product_8 = Product.where(category_id: product_category_id ).where.not(id: @product_4.id).last %>

  <%= render partial: 'partials/compare_gun4' %>

<% elsif params[:product_id] && params[:product5_id] && params[:compared_product_id].present? %>

  <% @product = Product.find(params[:product_id]) rescue nil %>
  <% product_id =  Product.where(id:@product.id).last %>
  <% product_category_id = product_id.category_id %>

  <% @product_2 = Product.where(category_id: product_category_id ).where.not(id: @product.id).first %>
  <% @product_3 = Product.where(category_id: product_category_id ).where.not(id: @product.id).second %>
  <% @product_4 = Product.where(category_id: product_category_id ).where.not(id: @product.id).third %>

  <% @product_5 = Product.find(params[:product5_id]) rescue nil %>
  <% product5_id =  Product.where(id:@product_5.id).last %>
  <% product_category_id = product5_id.category_id %>

  <% @product_6 = Product.where(category_id: product_category_id ).where.not(id: @product_5.id).fourth %>
  <% @product_7 = Product.where(category_id: product_category_id ).where.not(id: @product_5.id).fifth %>
  <% @product_8 = Product.where(category_id: product_category_id ).where.not(id: @product_5.id).last %>

  <%= render partial: 'partials/compare_gun5' %>

<% elsif params[:product2_id] && params[:product6_id] && params[:compared_product_id].present? %>

  <% @product_2 = Product.find(params[:product2_id]) rescue nil %>
  <% product2_id =  Product.where(id:@product_2.id).last %>
  <% product_category_id = product2_id.category_id %>

  <% @product_3 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).first %>
  <% @product_4 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).second %>
  <% @product_5 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).third %>

  <% @product_6 = Product.find(params[:product6_id]) rescue nil %>
  <% product6_id =  Product.where(id:@product_6.id).last %>
  <% product_category_id = product6_id.category_id %>

  <% @product = Product.where(category_id: product_category_id ).where.not(id: @product_6.id).fourth %>
  <% @product_7 = Product.where(category_id: product_category_id ).where.not(id: @product_6.id).fifth %>
  <% @product_8 = Product.where(category_id: product_category_id ).where.not(id: @product_6.id).last %>

  <%= render partial: 'partials/compare_gun6' %>

<% elsif params[:product2_id] && params[:product7_id] && params[:compared_product_id].present? %>

  <% @product_2 = Product.find(params[:product2_id]) rescue nil %>
  <% product2_id =  Product.where(id:@product_2.id).last %>
  <% product_category_id = product2_id.category_id %>

  <% @product_3 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).first %>
  <% @product_4 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).second %>
  <% @product_5 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).third %>

  <% @product_7 = Product.find(params[:product7_id]) rescue nil %>
  <% product7_id =  Product.where(id:@product_7.id).last %>
  <% product_category_id = product7_id.category_id %>

  <% @product_6 = Product.where(category_id: product_category_id ).where.not(id: @product_7.id).fourth %>
  <% @product = Product.where(category_id: product_category_id ).where.not(id: @product_7.id).fifth %>
  <% @product_8 = Product.where(category_id: product_category_id ).where.not(id: @product_7.id).last %>

  <%= render partial: 'partials/compare_gun7' %>

<% else params[:product2_id] && params[:product8_id] && params[:compared_product_id].present? %>

  <% @product_2 = Product.find(params[:compared_product_id]) rescue nil %>
  <% product2_id =  Product.where(id:@product_2.id).last %>
  <% product_category_id = product2_id.category_id %>

  <% @product_3 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).first %>
  <% @product_4 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).second %>
  <% @product_5 = Product.where(category_id: product_category_id ).where.not(id: @product_2.id).third %>

  <% @product_8 = Product.find(params[:product8_id]) rescue nil %>
  <% product8_id =  Product.where(id:@product_8.id).last %>
  <% product_category_id = product8_id.category_id %>

  <% @product_6 = Product.where(category_id: product_category_id ).where.not(id: @product_8.id).fourth %>
  <% @product_7 = Product.where(category_id: product_category_id ).where.not(id: @product_8.id).fifth %>
  <% @product = Product.where(category_id: product_category_id ).where.not(id: @product_8.id).last %>

  <%= render partial: 'partials/compare_gun8' %>

  <% end %>

<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>
</html>


<script>


    function compare_guns_search() {
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/search_compare_guns",
                data:{
                    q: $('#mySelect2').val()
                },
                success:function(data){
                    let gunOPT = "";

                    data.forEach((product)=> {
                        let searchDetail = document.querySelector('.select-detail');
                        // console.log({storedItems: product.length})
                        // console.log({data: data});
                        // console.log(product.title);
                        console.log({productIDs: product.id})


                        if (data.length >= 0) {

                            gunOPT += `
                           <div class="search-group" id="searchGroup" onclick="select_gun(${product.id})">
                               <img src="${product.image.url}" class="search-img"/>
                               <h4 class="h4" id="searchGun">
                                 <a href="#" class="product-link-search">${product.title} </a>
                           </h4>
                           </div>
                        `;


                            const selectDetail = document.querySelector('.select-detail');
                            setTimeout(() => {
                                selectDetail.textContent = 'Searching...';
                                setTimeout(() => {
                                    selectDetail.textContent = "Fetching Data...";
                                    setTimeout(() => {
                                        searchDetail.classList.add('select-detail-items');
                                        console.log({searchDetail: searchDetail});


                                        selectDetail.innerHTML = gunOPT;

                                        //.. Add Current Click Funtionality to Searchbar
                                        const productButton = document.querySelectorAll('.product-link-search');
                                        console.log({button: productButton})

                                        productButton.forEach((handleProduct) => {
                                            handleProduct.addEventListener('click', handleProductSearch);


                                        });

                                        //.. FILTER GUN PRODCUTS
                                        document.querySelector('#mySelect2').addEventListener('keyup', filterGunProduct)
                                    },100)
                                }, 100)
                            }, 100);
                        };

                    })
                }
            });
        });
    };


    // SEARCH & MATCH PRODUCT ITEMS VIA TYPED INPUT - 1

    // Filter GUN PRODUCTS LEFT
    function filterGunProduct (e) {
        const text = e.target.value.toLowerCase(); // gives whatever is being typed in
        const gunItem = document.querySelector('.search-group');

        document.querySelectorAll(".search-group").forEach(function(task) {
            console.log({task: task})
            const item = task.firstChild.textContent;
            console.log(item.toLowerCase().indexOf(text))
            if(item.toLowerCase().indexOf(text) != -1) {
                task.style.display = 'block';
            } else {
                task.style.display = 'none';
                document.querySelector('.search-detail-1').innerHTML = "<h1>No Product Found</h1>"
            }
        });
    };





    //.. Show Search On Focus
    document.querySelector('#mySelect2').addEventListener('keyup', (event) => {

        const searchItems = document.querySelector('.select-detail-items');
        searchItems.setAttribute('style', 'display: block !important');

        event.preventDefault();
        return true;

    });



    // .. HANDLE SEARCH TARGET BY CLICKING ON SELECT MENU LIST
    const handleProductSearch = function (event) {
        const searchItems = document.querySelector('.select-detail-items');
        if(event.target.classList.contains('product-link-search')) {
            const getText = event.target.textContent;
            const buttonReplaceText = document.querySelector('.target-replace');
            buttonReplaceText.textContent = getText;

            searchItems.setAttribute('style', 'display: none !important');


            //.. Call Ajax Request for REQUESTED Data


        };
        event.preventDefault();
        return true;
    };

    // //.. Show Search On Focus
    // document.querySelector('#compare_guns_searchSide').addEventListener('keyup', (event) => {
    //
    //     const searchItems = document.querySelector('.select-detail-items');
    //     searchItems.setAttribute('style', 'display: block !important');
    //
    //     event.preventDefault();
    //     return true;
    //
    // });

    // compare_guns_searchSide
    function compare_guns_search_side() {
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/search_compare_guns",
                data:{
                    q: $('#compare_guns_searchSide').val()
                },
                success:function(data){
                    let gunOPT = "";
                    data.forEach((product)=> {
                        const searchDetail = document.querySelector('.select-detail-side-1')

                        if (data.length >= 0) {
                            console.log(data);
                            console.log(product.title);
                            gunOPT += `
                           <div class="search-group" onclick="select_gunSec(${product.id})">
                               <img src="${product.image.url}" class="search-img"/>
                               <h4 class="h4"> <a href="#" class="product-link-search-1">${product.title} </a> </h4>
                           </div>
                        `;
                            const selectDetail = document.querySelector('.select-detail-side-1');
                            setTimeout(() => {
                                selectDetail.textContent = 'Searching...';
                                setTimeout(() => {

                                    selectDetail.textContent = "Fetching Data...";
                                    setTimeout(() => {

                                        selectDetail.classList.add('select-detail-items')
                                        selectDetail.innerHTML = gunOPT;


                                        //.. Add Current Click Funtionality to Searchbar
                                        const productButton = document.querySelectorAll('.product-link-search-1');
                                        console.log({button: productButton})

                                        productButton.forEach((handleProduct) => {
                                            handleProduct.addEventListener('click', handleProductSearchRight);
                                        });

                                        document.querySelector('#compare_guns_searchSide').addEventListener('keyup', rightSearchFilter );


                                    },100)
                                }, 100)
                            }, 100);
                        }
                    })
                }
            });
        });
    };

    //.. RIGHT FILTER SEARCH
    const rightSearchFilter = (event) => {
        const text = event.target.value.toLowerCase(); // gives whatever is being typed in
        const gunItem = document.querySelector('.search-group');

        document.querySelectorAll(".search-group").forEach(function(task) {
            console.log({task: task})
            const item = task.firstChild.textContent;
            console.log(item.toLowerCase().indexOf(text))
            if(item.toLowerCase().indexOf(text) != -1) {
                task.style.display = 'block';
            } else {
                task.style.display = 'none';
                document.querySelector('.select-detail-side-1').innerHTML = "<h1>No Product Found</h1>"
            }
        });
    };


    const handleProductSearchRight = function (event) {

        const searchItems = document.querySelector('.select-detail-side-1');
        if(event.target.classList.contains('product-link-search-1')) {
            const getText = event.target.textContent;
            const buttonReplaceText = document.querySelector('.target-replace-1');
            buttonReplaceText.textContent = getText;

            searchItems.setAttribute('style', 'display: none !important');


            //.. Call Ajax Request for REQUESTED Data

        };

        event.preventDefault();
        return true;
    };


    //.. SHOW SEARCH WHEN FOCUS ON INPUT
    // document.querySelector('#mySelect2').addEventListener('keyup', (event) => {
    //     const searchItems = document.querySelector('.select-detail-side-1');
    //     searchItems.classList.add('show--search')
    //    event.preventDefault();
    //    return true;
    // });





    //.. API AJAX CALL FOR GETTING REQUESTED PRODUCT
    //.. API AJAX CALL FOR GETTING REQUESTED PRODUCT
    function select_gun(id) {
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/select_gun/" + id,
                data:{

                },
                success:function(data){
                    console.log(data)

                    const leftTableImage = document.querySelector('#compare-img-left');
                    leftTableImage.innerHTML = `
                      <img
                        src="${data.image.url}" class="img-fluid"
                        alt="">
                    `;

                    // #upc
                    // #mpn
                    // #brand
                    // #Model
                    // #caliber
                    // #price
                    // #condition

                    setTimeout(() => {
                        document.querySelector('#upc').textContent = "Loading...";
                        document.querySelector("#mpn").textContent = "Loading...";
                        document.querySelector("#brand").textContent = "Loading...";
                        document.querySelector("#caliber").textContent = "Loading...";
                        document.querySelector("#price").textContent = "Loading...";

                        setTimeout(() => {
                            document.querySelector('#upc').textContent = data.upc;
                            document.querySelector("#mpn").textContent = data.mpn;
                            document.querySelector("#brand").textContent = data.brand;
                            document.querySelector("#caliber").textContent = data.caliber;
                            document.querySelector("#price").textContent = data.price;
                        }, 100)
                    })

                    if(data.verified === true) {
                        document.querySelector("#verified").textContent = "YES";
                    } else {
                        document.querySelector("#verified").textContent = "NO";
                    }

                    if(data.condition === null) {
                        document.querySelector("#condition").textContent = "Not Listed";
                    } else {
                        document.querySelector("#condition").textContent = data.condition;
                    }

                }
            });
        });
    };
    function select_gunSec(id) {
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/select_gun/" + id,
                data:{

                },
                success:function(data){
                    console.log(data)

                    const leftTableImage = document.querySelector('#compare-img-right');
                    leftTableImage.innerHTML = `
                      <img
                        src="${data.image.url}" class="img-fluid"
                        alt="">
                    `;

                    // #upc
                    // #mpn
                    // #brand
                    // #Model
                    // #caliber
                    // #price
                    // #condition

                    setTimeout(() => {
                        document.querySelector('#upc-1').textContent = "Loading..";
                        document.querySelector("#mpn-1").textContent = "Loading..";
                        document.querySelector("#brand-1").textContent = "Loading.."
                        document.querySelector("#caliber-1").textContent = "Loading..";
                        document.querySelector("#price-1").textContent = "Loading..";

                        setTimeout(() => {
                            document.querySelector('#upc-1').textContent = data.upc;
                            document.querySelector("#mpn-1").textContent = data.mpn;
                            document.querySelector("#brand-1").textContent = data.brand;
                            document.querySelector("#caliber-1").textContent = data.caliber;
                            document.querySelector("#price-1").textContent = data.price;
                        }, 100)
                    })

                    if(data.verified === true) {
                        // document.querySelector("#verified").textContent = "YES";

                        setTimeout(() => {
                            document.querySelector("#verified").textContent = "Loading...";
                            setTimeout(() => {
                                document.querySelector("#verified").textContent = "YES";
                            }, 100)
                        }, 100)
                    } else {
                        setTimeout(() => {
                            document.querySelector("#verified").textContent = "Loading...";
                            setTimeout(() => {
                                document.querySelector("#verified").textContent = "NO";
                            }, 100)
                        }, 100)
                    }

                    if(data.condition === null) {
                        document.querySelector("#condition").textContent = "Not Listed";
                    } else {
                        document.querySelector("#condition").textContent = data.condition;
                    }

                }
            });
        });
    };




</script>