<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>
<div class="body-style">
  <%= render partial: 'partials/header' %>
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- order gun section start here ---------------------  -->
  <section class="order-gun mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>How To Order a Gun Online</h1>
            </div>
            <div class="card__content">
              <p>This section will show you a few simple steps you need to complete in order to purchase a firearm online.</p>
              <ul style="list-style: decimal;">
                <li>
                  <b>Choose a firearm</b> you want to buy on a website and add it to cart. Proceed to checkout.
                </li>
                <li>
                                <span>
                                    <b>Choose your FFL dealer.</b>
                                </span>
                  <p></p>
                  <ul>
                    <li>
                      <b>Firearms cannot be shipped directly to your address</b>, but to your local FFL dealer. Any legitimate gun store or gun dealer nearby has an FFL license; pawn shops and collectors may also have them.
                    </li>
                    <li>A list of FFL dealers should be provided on the website. If not, find a local dealer. FFL finder
                      <a target="_blank" href="#">http://www.gunbroker.com/FFL/SearchForFFL.aspx</a>.
                    </li>
                    <li>Contact the FFL dealer to
                      <b>check their fee’s and pickup process.</b>
                    </li>
                  </ul>
                </li>
                <li>
                  <b>Pick up your firearm from the FFL dealer.</b> Your invoice with your phone number and a copy of the FFL should be included in your order.
                  <p></p>
                </li>
              </ul>
              <p>If you are picking your firearm up from the store or intend on purchasing your firearm in the store
                <b>you are required to show a current State ID or Driver's License in order to verify identity.</b>
              </p>
              <p>
                <b>How old do I have to be to purchase a firearm online?
                  <br>
                </b>
              </p>
              <p>You must check your local and state laws but
                <b>to purchase a rifle or shotgun you have to be 18 or older, </b> and
                <b>21 or older to purchase a handgun.</b>
              </p>
              <h2>FAQ</h2>
              <p>
                <b>I live in California, can I purchase a firearm?</b>
              </p>
              <p>Yes, but
                <b>handguns and rifles are heavily restricted in CA.</b> If the firearm does not appear on
                <a target="_blank" href="#">State of California's Department of Justice Roster of Handguns Certified for Sale</a>, the seller cannot ship it to California. It is up to you to ensure that the rifle or shotgun is permitted for sale in your state.
              </p>
              <p>Firearms that are shipping to California with the magazine capacity greater than 10 will ship without any magazines unless the firearm is stated as being California Compliant.</p>
              <p>
                <i>If you purchase a firearm that is not legal for sale in the state of California you will be refunded your purchase amount, minus a restocking fee.</i>
              </p>
              <p>
                <b>Can I purchase ammunition online? </b>
              </p>
              <p>
                <b>Most states allow ammunition to be shipped</b> directly to your home or place of business.
              </p>
              <p>Keep in mind that federal law requires that
                <b>you must be at least 18 years old to purchase shotgun or rifle ammunition, and 21 years or older to purchase handgun ammunition.</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------- order gun section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>
</html>