<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>

<body class="body-style">
<%= render partial: 'partials/header' %>
<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>

<!-- Model Notify start -->
<div class="model-notify-app">
  <div class="app-model">
    <div class="model-header">
      <h3>Add UPC Alert</h3>
      <span class="remove-model-app">
          <i class="fa fa-remove"></i>
       </span>
    </div>
    <div class="model-content-app">
      <%= render partial: 'partials/notify_me' %>
    </div>
  </div>
</div>
<!-- Model Notify End -->

<!-- -----------------compaire price section start here-------------------- -->

<section class="compaire-price">
  <div class="container">
    <div class="card p-3">
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="product-image-single">
            <% if @product.verified == "true" %>
              <image class="img-responsive" src = "<%= @product.image %>" />
            <% end %>
            <image class="img-responsive" src = "<%= @product.image_link %>" />
            <div class="button-products">
              <a class="btn btn-product-single notify-me-modal" href="<%= notify_me_path %>">
                <i class="fa fa-bell-o fa-fw"></i>
                <span>Notify Me</span>
              </a>
              <a class="btn btn-product-single" href="<%= compare_guns_path %>">
                <i class="fa fa-exchange"></i>
                <span>Compare Guns</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="product-title-single">
            <h2 itemprop="name"><%= @product.title %> </h2>
          </div>
          <div class="product-detail-single">
            <div class="single-detail">
              <span class="product-single-desp">UPC:</span>
              <span><strong><%= @product.upc %></strong></span>
            </div>
            <div class="single-detail">
              <span class="product-single-desp">MPN:</span>
              <span><a href="<%@product.upc %>"><%= @product.mpn %></a></span>
            </div>
            <div class="single-detail">
              <span class="product-single-desp">Brand:</span>
              <span><a href="<%@product.upc %>"><%= @product.brand %></a></span>
            </div>
            <div class="single-detail">
              <span class="product-single-desp">Caliber:</span>
              <span><strong><%= @product.caliber %></strong></span>
            </div>
            <div class="single-detail">
              <a href="#" class="see-full-spec">Show full specs</a>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-tiles-section__slider ">
        <h5>
          <strong>Similar Products</strong>
        </h5>
        <div class="d-flex product-scroller">
          <% @similar_products.limit(20).each do |similar_product| %>
            <div class="" id="scroll-section1">
              <div class="product-details-tile">
                <div class="price-tag-container">
                  <div class="price-tag price-tag--one-line">from $<%= similar_product.price %></div>
                </div>
                <div class="product-details-tile__image-container">
                  <a class="js-ga-event" data-ga-action="Similar Products Click" data-ga-category="Search Page"
                     data-ga-label="P-01 Compact [806703917214]" href="/search/apachesolr_search/806703917214">
                    <img class="product-details-tile_image-container_image"
                         src="<%= similar_product.image_link %>"
                         alt="CZ P-01 Compact" />
                  </a>
                </div>
                <div class="product-details-tile__info">

                  <div class="product-details-tile__info-container">
                    <div class="product-details-tile__info">
                      <div class="product-details-tile__title">
                        <a class="product-details-tile__title__link js-ga-event dot-indicator dot-indicator__left dot-indicator--in-stock" data-ga-action="Similar Products Click" data-ga-category="Search Page" data-ga-label="MK-II [840225706741]" href="/search/apachesolr_search/840225706741" title="B&amp;T MK-II"><%= similar_product.title %></a>
                      </div>
                      <div class="product-details-tile__info-container">
                        <div class="product-details-tile__info__specs">
                          <span>MPN: </span>
                          <span title="BT-510001"><%= similar_product.mpn %></span>
                        </div>
                        <div class="product-details-tile__info__specs">
                          <span>Brand: </span>
                          <span title="B&amp;T"><%= similar_product.brand %></span>
                        </div>
                        <div class="product-details-tile__info__specs">
                          <span>Caliber: </span>
                          <span title="9mm"><%= similar_product.caliber %></span>
                        </div>
                        <div class="product-details-tile__info__specs">
                          <span>Capacity: </span>
                          <span title="-">-</span>
                        </div>
                      </div>
                      <div>
                        <a class="product-details-tile__info__full-specs-link js-fullSpecsLink" data-toggle="modal" data-target="#modalFullSpecs" data-id="136896" href="#">Full Specification</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
          <div class="" id="scroll-section2">
          </div>
          <button id="slider_btn-1" href="#scroll-section2" class="scroll-previous tile-slider_direction tile-slider_direction--previous"
                  style="display: inline-block;">
            <i class="fa fa-chevron-left"></i>
          </button>
          <button id="slider_btn-2" href="#scroll-section1" class="scroll-next tile-slider_direction tile-slider_direction--next"
                  style="display: inline-block;">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="pt-3">
        <div class="d-flex justify-content-between">
          <div>
            <h2>Live Inventory Search</h2>
          </div>
          <div class="dealer-comparison-info"> <i class="fa fa-bullhorn" aria-hidden="true"></i> <span>Want to
                      see your products here? Click this</span> <a href="/content/shopping-comparison">link</a>.
          </div>
        </div>
        <p>Compare prices for <%= @product.title %> <%= @product.upc %> from all vendors</p>
        <table class="table price-compare-table">
          <thead class="bg-dark text-white">
          <tr>
            <th>Store</th>
            <th>Price</th>
            <th>Shipping rate</th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><a href="#"><%= product.store.title %></a></td>
              <td class="set-table-pointer"><span>$<%= product.price %></span> <i
                class="fa fa-envelope text-primary no-border"></i></td>
              <td>$<%= product.shipping_cost %></td>
            </tr>
          <% end %>




          <!-- --------out of stack table data start------ -->
          <tr class="price-compare-table__oos-breaker">
            <td class="oos-label">
              <div>Out Of Stock</div>
            </td>
            <td></td>
            <td></td>
            <td class="price-compare-table__show-more-column"></td>
          </tr>
          <% unless !@stock.present?%>
            <% @stock.each do |stock| %>
              <tr class="is-oos ">
                <td><a href="#"><%= stock.store.title %></a> <i class="fa fa-scissors"></i> </td>
                <td class=""><span>$<%= stock.price %></span></td>
                <td> $<%= stock.shipping_cost %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<!-- -----------------------compaire price table no.2 start here------------------------------------ -->
<section class="compaire-price-table2 mb-4 pt-4">
  <div class="container">
    <div class="card p-3">
      <div class="">
        <div class="d-flex justify-content-between">
          <div>
            <h2>Wikiarms.com Search Engine Results</h2>
          </div>
          <div class="dealer-comparison-info"> <i class="fa fa-bullhorn" aria-hidden="true"></i> <span>Want to
                        see your products here? Click this</span> <a href="/content/shopping-comparison">link</a>.
          </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <div>
            <p>Find Lowest Price In Stock CZ CZ P-01 Omega Convertible 9mm 91229 for sale online from over
              100 vendors</p>
          </div>
          <div class="field-checkbox__container">
            <input checked="" id="field-checkbox-firearms-only" type="checkbox"
                   class="field-checkbox__input">
            <label for="field-checkbox-firearms-only" class="field-checkbox__label">
              <span class="field-checkbox__title ">Firearms only</span>
            </label>
          </div>

        </div>
        <div class="table-section__content">
          <table class="table price-compare-table  wikiarms-table-2">
            <thead class="bg-dark text-white">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Store</th>
              <th>MPN</th>
              <th>UPC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="#">CZ 75 P-01 ? (OMEGA) CONVERTIBLE, 9MM, 15RD, BLK POLYCOAT ALUMINUM,
                FIXED SIGHTS, SWAPPABLE SAFETY/DECOCKER, BLK RUBBER GRIPS</a></td>
              <td class=""><span> $538.19</span></td>
              <td> Locked Loaded</td>
              <td><a href="#">91229</a></td>
              <td><a href="#">806703912295</a></td>
            </tr>
            <tr>
              <td><a href="#">CZ 91229 P-01 Omega 9mm Luger 3.80" 14+1 Black Black Rubber Grip</a>
              </td>
              <td class=""><span> $638.19</span></td>
              <td> GunZoneDeals</td>
              <td><a href="#">91229</a></td>
              <td><a href="#">806703912295</a></td>
            </tr>
            <tr>
              <td><a href="#">CZ-USA 91229 CZ P-01 Omega 9mm 3.75 Barrel Fixed Sights Black Alloy
                14-round</a></td>
              <td class=""><span> $538.19</span></td>
              <td> TheGunDock.com</td>
              <td><a href="#">91229</a></td>
              <td><a href="#">806703912295</a></td>
            </tr>

            </tbody>
          </table>
          <div class="wikiarms-section__see-more mb-4">
            <a target="_blank" href="#">See more results</a>
            <span>for
                        <b>CZ CZ P-01 Omega Convertible 9mm 91229</b> on Wikiarms.com
                    </span>
          </div>
        </div>

        <div class="table-section__footer">
          <%= image_tag  'out-of-stoc.jpeg'  , class: "powered-by-img"%>
          <span> Powered by
                    <a target="_blank" href="#">Wikiarms.com</a>
                </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -----------------------compaire price table no.2 end here------------------------------------ -->

<!-- ----------------out of stock section start here-------------------- -->
<section class="pb-4 d-flex justify-content-center">
 <div class="container">
   <div class="card card--listing-header card--listing-header-smaller card--listing-header-search">
     <div class="card__title">
       <h2> User Posted Deals</h2>
       <% if current_user.present? %>
       <p>(<span class="pager-total-items" id="pager-total-items"><%= current_user.products.all.count %></span> deals found)</p>
     <% else %>
         <p>(<span class="pager-total-items" id="pager-total-items">0</span> deals found)</p>
     <% end %>
     </div>
   </div>
 </div>
</section>
<section class="pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sidebar-filter">
        <div class="card__content">
          <form action="">
            <div class="filters filters--categories filters--sidebar">
              <div class="form-group filters__container ">
                <label for="ddlSelects3" class="filters_selects-label filters_label"> Stores </label>
                <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                  <option selected>Choose an option</option>
                </select>
              </div>
              <div class="form-group filters__container ">
                <label for="ddlSelects1" class="filters_selects-label filters_label"> Calibers </label>
                <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                  <option selected>Choose an option</option>
                  </option>
                  <optgroup label="Popular">
                    <option value="1">9mm</option>
                    <option value="2">40 S&amp;W</option>
                    <option value="3">22 LR</option>
                    <option value="4">45 ACP</option>
                    <option value="5">380 ACP</option>
                    <option value="10">7.62x39mm</option>
                    <option value="11">223/5.56</option>
                    <option value="13">357 Mag</option>
                    <option value="15">38 Special</option>
                    <option value="17">10mm</option>
                    <option value="21">22 WMR</option>
                    <option value="36">5.7x28mm</option>
                    <option value="78">300 BLK</option>
                  </optgroup>
                  <optgroup label="All">
                    <option value="17">10mm</option>
                    <option value="408">17 HM2</option>
                    <option value="38">17 HMR</option>
                    <option value="411">22 CB</option>
                    <option value="2301">22 Jet</option>
                    <option value="3">22 LR</option>
                    <option value="409">22 Long</option>
                    <option value="3536">22 Nosler</option>
                    <option value="410">22 Short</option>
                    <option value="416">22 TCM</option>
                    <option value="21">22 WMR</option>
                    <option value="1736">22 WRF</option>
                    <option value="11">223/5.56</option>
                    <option value="18">25 ACP</option>
                    <option value="2516">25 NAA</option>
                    <option value="2521">256 Win Mag</option>
                    <option value="28">30 Carbine</option>
                    <option value="430">30 Luger</option>
                    <option value="4656">30 Super Carry</option>
                    <option value="78">300 Blackout</option>
                    <option value="20">308/7.62x51mm</option>
                    <option value="19">32 ACP</option>
                    <option value="1096">32 H&amp;R</option>
                    <option value="1101">32 NAA</option>
                    <option value="1106">32 S&amp;W</option>
                    <option value="1886">32 S&amp;W Long</option>
                    <option value="1111">32 Short Colt</option>
                    <option value="2531">320 Long</option>
                    <option value="2526">320 Short</option>
                    <option value="30">327 Federal</option>
                    <option value="2536">356 TSW</option>
                    <option value="13">357 Mag</option>
                    <option value="2316">357 Rem Max</option>
                    <option value="14">357 Sig</option>
                    <option value="2541">375 JDJ</option>
                    <option value="2546">38 ACP</option>
                    <option value="2331">38 Long Colt</option>
                    <option value="1116">38 S&amp;W</option>
                    <option value="1121">38 S&amp;W Short</option>
                    <option value="3526">38 Short Colt</option>
                    <option value="15">38 Special</option>
                    <option value="29">38 Super</option>
                    <option value="1126">38-40</option>
                    <option value="5">380 ACP</option>
                    <option value="2551">380 Long</option>
                    <option value="2166">4.6x30mm H&amp;K</option>
                    <option value="2">40 S&amp;W</option>
                    <option value="2556">40 Super</option>
                    <option value="1131">400 Corbon</option>
                    <option value="2311">41 Long Colt</option>
                    <option value="1136">41 Rem Mag</option>
                    <option value="8">410</option>
                    <option value="2561">44 Auto Mag</option>
                    <option value="2341">44 Colt</option>
                    <option value="16">44 Mag</option>
                    <option value="1141">44 Russian</option>
                    <option value="43">44 Special</option>
                    <option value="2566">440 Cor-Bon</option>
                    <option value="2571">445 Super Mag</option>
                    <option value="4">45 ACP</option>
                    <option value="2576">45 Auto Rim</option>
                    <option value="42">45 GAP</option>
                    <option value="33">45 Long Colt</option>
                    <option value="1146">45 Schofield</option>
                    <option value="2581">45 Special</option>
                    <option value="2586">45 Super</option>
                    <option value="2326">45 Win Mag</option>
                    <option value="255">45-70</option>
                    <option value="2596">450 AutoBond</option>
                    <option value="424">450 Bushmaster</option>
                    <option value="4611">450 Marlin</option>
                    <option value="2591">450 Short</option>
                    <option value="414">454 Casull</option>
                    <option value="1151">455 Webley</option>
                    <option value="2281">460 Rowland</option>
                    <option value="415">460 S&amp;W</option>
                    <option value="2276">475 Linebaugh</option>
                    <option value="2601">475 Wildey Mag</option>
                    <option value="1156">480 Ruger</option>
                    <option value="26">5.45x39mm</option>
                    <option value="36">5.7x28mm</option>
                    <option value="32">50 AE</option>
                    <option value="2606">50 GI</option>
                    <option value="2286">500 Linebaugh</option>
                    <option value="413">500 S&amp;W</option>
                    <option value="2611">500 S&amp;W Special</option>
                    <option value="2336">500 Wyoming Express</option>
                    <option value="27">6.8mm SPC</option>
                    <option value="5336">7.5 FK</option>
                    <option value="31">7.62 Nagant</option>
                    <option value="9">7.62x25mm</option>
                    <option value="10">7.62x39mm</option>
                    <option value="1161">7.63 Mauser</option>
                    <option value="2321">8mm Gasser</option>
                    <option value="1166">8mm Steyr</option>
                    <option value="2306">8x22mm Nambu</option>
                    <option value="1">9mm</option>
                    <option value="1171">9mm Steyr</option>
                    <option value="35">9x18mm</option>
                    <option value="2616">9x18mm Ultra</option>
                    <option value="2296">9x21mm</option>
                    <option value="2621">9x23mm Largo</option>
                    <option value="2441">9x23mm Win</option>
                    <option value="2626">9x25mm Dillon</option>
                    <option value="3531">9x25mm Mauser</option>
                    <option value="248">Black Powder</option>
                    <option value="22">Combo</option>
                  </optgroup>
                </select>
              </div>

              <div class="form-group filters__container ">
                <label for="ddlSelects2" class="filters_selects-label filters_label"> Brands </label>
                <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                  <option selected>Choose an option</option>
                </select>
              </div>

              <div class="form-group filters__container ">
                <label for="ddlSelects2" class="filters_selects-label filters_label"> Categories </label>
                <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
                  <optgroup label="All categories">
                    <option selected>Choose an option</option>
                    <option value="5">Accessories</option>
                    <option value="4">Ammo</option>
                    <option value="400731">Archery</option>
                    <option value="263056">Gun Parts</option>
                    <option value="2">Handguns</option>
                    <option value="2469">Knives</option>
                    <option value="619351">NFA</option>
                    <option value="619336">Optics and Sights</option>
                    <option value="77844">Reloading</option>
                    <option value="3">Rifles</option>
                    <option value="45">Shotguns</option>
                  </optgroup>


                </select>
              </div>
              <div class="form-group" id="edit-show-oos-wrapper">
                <div class="js-field-toggle field-toggle js-uncheck-linked field-checkbox--with-title field-checkbox--title-above" data-linked-input="#field-checkbox-edit-hide-oos">
                  <div class="field-checkbox__container">
                    <input id="field-checkbox-edit-show-oos" type="checkbox" class="" name="show_oos" value="1" data-gtm-form-interact-field-id="2">
                    <label for="product">My check Box</label>
                  </div>
                </div>
              </div>

              <div class="form-group" id="edit-show-oos-wrapper">
                <div class="js-field-toggle field-toggle js-uncheck-linked field-checkbox--with-title field-checkbox--title-above" data-linked-input="#field-checkbox-edit-hide-oos">
                  <div class="field-checkbox__container">
                    <input id="field-checkbox-edit-show-oos" type="checkbox" class="" name="show_oos" value="1" data-gtm-form-interact-field-id="2">
                    <label for="product">My check Box</label>
                  </div>
                </div>
              </div>


              <div class="form-group" id="edit-show-oos-wrapper">
                <div class="js-field-toggle field-toggle js-uncheck-linked field-checkbox--with-title field-checkbox--title-above" data-linked-input="#field-checkbox-edit-hide-oos">
                  <div class="field-checkbox__container">
                    <input id="field-checkbox-edit-show-oos" type="checkbox" class="" name="show_oos" value="1" data-gtm-form-interact-field-id="2">
                    <label for="product">My check Box</label>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" name="op" id="edit-apply-filters" value="Apply filters" class="btn--filter form-submit apply-filters btn-primary btn btn-default">
            <input type="reset" name="op" id="edit-reset-filters" value="Reset" class="form-submit reset-filters btn btn-default hidden-xs hidden-sm">
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row flex-card-side">
          <div class="col-md-4 filter-card-container">
            <% if current_user.present? %>
            <% @user_products.each do |user_product| %>
            <div class="col my-3 sub-card filter-card">
              <div class="card h-60 flex-card-side-item">
                <div class="card-body d-flex justify-content-between">
                  <% unless user_product.sponsored != true %>
                    <span class="tile__sponsored"><a href="#">Sponsored</a></span>
                  <% end %>
                  <a href="#" class="card-link "><span></span></a>
                  <span class="card-link price-tag price-tag--one-line"><span>$<%= user_product.price %></span></span>
                </div>
                <div class="tile__image-container">
                  <% if user_product.image.present? %>
                  <a href="<%= product_path(@product) %>"><image src = "<%= user_product.image %>"  /></a>
                  <% else %>
                    <a href="<%= product_path(@product) %>"><image src = "<%= user_product.image_link %>"  /></a>
                  <% end %>
                </div>
                <div class="card-body tile__title">
                  <p class="card-text truncate "><a href="<%= product_path(@product) %>"><%= user_product.title %></a></p>
                </div>
                <div class="card-body d-flex justify-content-between tile__actions-container">
                  <a href="#" class="card-link tile__rate-action tile__likes icon-fa-link"><i class="fa fa-thumbs-up"></i> <span>2</span></a>
                  <a href="#" class="card-link tile__rate-action tile__dislikes icon-fa-link"><i class="fa fa-thumbs-down"></i> <span>13</span></a>
                  <a href="#" class="card-link tile__rate-action tile__comments icon-fa-link"><i class="fa fa-comments"></i> <span>0</span></a>
                </div>
                <div class="card-body d-flex justify-content-between card-footer tile__actions-container">
                  <a href="<%= store_path(@product.store.id) %>" class="card-link icon-fa-link"><i class="fa fa-shopping-cart"></i><span><%= user_product.store.title %></span></a>
                  <a href="#" class="card-link icon-fa-link"><i class="fa fa-balance-scale"></i><span></span></a>
                </div>
              </div>
            </div>
              <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
<script>
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })
</script>

<script>

    (function() {
        document.querySelector('#slider_btn-2')
            .addEventListener('click', (event) => {
                const slider = document.querySelector('.product-scroller');
                slider.setAttribute('style', 'scroll-behavior: smooth;')
                slider.scrollLeft = slider.scrollWidth;
                event.preventDefault();
                return true;
            });

        document.querySelector('#slider_btn-1')
            .addEventListener('click', (event) => {
                const slider = document.querySelector('.product-scroller');
                slider.setAttribute('style', 'scroll-behavior: smooth;')
                slider.scrollLeft = 0;
                event.preventDefault();
                return true;
            });
    })();

    // . Notify Me dModel live search

    (function (){
        //.. Show model FUNC
        const showModel = function () {
            const model_ovl = document.querySelector('.model-notify-app');
            model_ovl.setAttribute('style', `visibility: visible; transition: all .4s ease-in-out;  opacity: 1`);
        };
        const hideModel = function (){
            const model_ovl = document.querySelector('.model-notify-app');
            model_ovl.setAttribute('style', `visibility: hidden; transition: all .4s ease-in-out;  opacity: 0`);
        };
        document.querySelector('.notify-me-modal').addEventListener('click',(event) => {

            const model_ovl = document.querySelector('.model-notify-app');
            showModel();
            event.preventDefault()
            return true
        });

        document.querySelector('.remove-model-app').addEventListener('click',(event) => {
            hideModel();
            event.preventDefault();
            return true;
        });

        console.log('Notify Model running at ')
    })()
</script>

</body>

</html>
