<!DOCTYPE html>
<html lang="en">
<%= render partial: 'partials/title' %>
<div class="body-style">
  <%= render partial: 'partials/header' %>
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- trusted related program section start here ---------------------  -->
  <section class="trusted-program mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Trusted Retailer Program</h1>
            </div>
            <div class="card__content">
              <p>gun.deals Trusted Retailer (GTR) program is aimed at retailers who wish to have their Firearms, Ammo and related products listed on gun.deals.</p>
              <h2>Program Details</h2>
              <p>Program applicants are required to input a small "seal" on their site. It needs to be placed on the retailer's top-level page, in a position of their choosing, which links back to
                <a href="#">https://gun.deals/</a> or
                <a href="#">https://gun.deals/content/[yourstore]</a>. We have several different options to choose from, to fit for your site design:
              </p>
              <div class="row d-flex justify-content-center">
                <div class="col-xs-12 col-md-6 col-lg-5 col-xs-offset-0 col-md-offset-0 col-lg-offset-1">
                  <div class="card badge-card p-3 mb-3">
                    <div class="card__content">
                      <img class="badge-card__img-top" alt="gun.deals trusted retailer" src="https://dev.gun.deals/sites/all/themes/slickdeals/images/badges/rectangle-white.png">
                      <p></p>
                      <div class="js-copy-text badge-card__copy-text">
                        <input readonly="" class="form-control me-2" value="<a target=&quot;_blank&quot; href=&quot;https://gun.deals&quot; title=&quot;gun.deals can help you find best deals for firearms, ammo and accessories .&quot;>
                                                        <img src=&quot;https://gun.deals/sites/all/themes/slickdeals/images/badges/rectangle-white.png&quot; alt=&quot;gun.deals trusted retailer&quot; >
                                                        </a>">
                        <br>
                        <button class="btn btn-default js-copy-action">
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-5">
                  <div class="card badge-card p-3 mb-3">
                    <div class="card__content">
                      <img class="badge-card__img-top" alt="gun.deals trusted retailer" src="https://dev.gun.deals/sites/all/themes/slickdeals/images/badges/rectangle-black.png">
                      <p></p>
                      <div class="js-copy-text badge-card__copy-text">
                        <input readonly="" class="form-control me-2" value="<a target=&quot;_blank&quot; href=&quot;https://gun.deals&quot; title=&quot;gun.deals can help you find best deals for firearms, ammo and accessories.&quot;>
                                                                        <img src=&quot;https://gun.deals/sites/all/themes/slickdeals/images/badges/rectangle-black.png&quot; alt=&quot;gun.deals trusted retailer&quot;>
                                                                        </a>">
                        <br>
                        <button class="btn btn-default js-copy-action">
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-xs-12 col-md-6 col-xs-offset-0 col-md-offset-3">
                  <div class="card badge-card p-3 mb-3">
                    <div class="card__content">
                      <img class="badge-card__img-top" alt="gun.deals trusted retailer" src="https://dev.gun.deals/sites/all/themes/slickdeals/images/badges/square.png">
                      <p></p>
                      <div class="js-copy-text badge-card__copy-text ">
                        <input readonly="" class="form-control me-2" value="<a target=&quot;_blank&quot; href=&quot;https://gun.deals&quot; title=&quot;gun.deals can help you find best deals for firearms, ammo and accessories.&quot;>
                                                                                        <img src=&quot;https://gun.deals/sites/all/themes/slickdeals/images/badges/square.png&quot; alt=&quot;gun.deals trusted retailer&quot;>
                                                                                        </a>">
                        <br>
                        <button class="btn btn-default js-copy-action">
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h2>Why working with us?</h2>
              <p>This will give your visitors a peace of mind when making a decision on purchasing products and make them aware that they are buying from a trusted source. In order to use our seal and be part of our brand “gun deals trusted retailer” dealers must have one of our paid subscriptions. All applicants in our gun.deals Trusted Retailer program are obligated to respond within 24 hours to any inquiries regarding an order by gun.deals users or by us directly.</p>
              <p>
                <b>Optional</b>: If the retailer has a social media presence, we ask that you post a status update to your visitors/friends/followers that you are happy to become a GTR with a link to
                <a href="#">https://gun.deals/content/[yourstore]</a> or
                <a href="#">https://gun.deals/</a> , to let your customers know of our new partnership!
              </p>
              <p>For more details, please
                <a href="#">contact us</a>.
              </p>
              <p>
                <b>NOTE:</b> gun.deals reserves the right to discontinue a retailer's membership in the GTR program if the retailer no longer meets the defined requirements. gun.deals is not selling or shipping any merchandise listed on our site. gun.deals is a simple search engine. gun.deals is not responsible for any lost shipments, damaged merchandise, lost orders due to failed businesses, sudden gun market changes, non complete transactions. Use our website at your OWN RISK.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--------------------- trusted related program section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
<%= render partial: 'partials/footer' %>
</body>
</html>